#logo {
  height: auto;
  margin-top: 8px;
  margin-left: 4%;
  width: 120px; }
  @media (min-width: 992px) {
    #logo {
      height: auto;
      margin-top: 2%;
      width: 190px; } }

.icon-bar {
  background-color: #fff;
  margin-top: 13px;
  height: 13px;
  border-radius: 2px; }

@media (min-width: 768px) {
  .img-about {
    margin-top: 200px; } }

@media (min-width: 992px) {
  .img-about {
    margin-top: 170px; } }

@media (min-width: 1023px) {
  .img-about {
    margin-top: 130px; } }

ul.inside {
  list-style: none;
  padding-left: 20px; }
  @media (min-width: 1280px) {
    ul.inside {
      padding-left: 40px; } }
  ul.inside li {
    position: relative; }
    ul.inside li:before {
      position: absolute;
      display: block;
      content: '\2022';
      text-indent: -999999px;
      left: -18%;
      width: 14px;
      height: 20px;
      background-repeat: no-repeat;
      background-image: url("../img/ok.png");
      background-size: 14px 14px;
      background-position: 0 .3em;
      /* Portrait and Landscape */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        ul.inside li:before {
          left: -10%; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
        ul.inside li:before {
          left: -10%; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        ul.inside li:before {
          left: -7%; } }
      @media (min-width: 768px) {
        ul.inside li:before {
          left: -7%; } }
      @media (min-width: 1023px) {
        ul.inside li:before {
          left: -11%; } }
      @media (min-width: 1280px) {
        ul.inside li:before {
          left: -12%; } }

ul.not {
  list-style: none;
  padding-left: 20px; }
  @media (min-width: 1280px) {
    ul.not {
      padding-left: 40px; } }
  ul.not li {
    position: relative; }
    ul.not li:before {
      position: absolute;
      display: block;
      content: '\2022';
      text-indent: -999999px;
      left: -18%;
      width: 19px;
      height: 21px;
      background-repeat: no-repeat;
      background-image: url("../img/not.png");
      background-size: 14px 14px;
      background-position: 0 .3em; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        ul.not li:before {
          left: -10%; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        ul.not li:before {
          left: -14%; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        ul.not li:before {
          left: -8%; } }
      @media (min-width: 768px) {
        ul.not li:before {
          left: -7%; } }
      @media (min-width: 1023px) {
        ul.not li:before {
          left: -11%; } }
      @media (min-width: 1280px) {
        ul.not li:before {
          left: -12%; } }

.funny-font {
  font-family: "Covered By Your Grace", cursive;
  font-size: 28px; }

p.description {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-top: 0; }
  p.description span {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 500; }
    @media (min-width: 768px) {
      p.description span {
        font-size: 21px; } }
    @media (min-width: 992px) {
      p.description span {
        font-size: 24px; } }
    @media (min-width: 1023px) {
      p.description span {
        font-size: 30px; } }
  @media (min-width: 768px) {
    p.description {
      margin-top: 0;
      padding: 0 60px 0 40px;
      font-size: 14px; } }
  @media (min-width: 992px) {
    p.description {
      font-size: 14px;
      line-height: 25px;
      margin-top: 60%;
      padding-left: 0;
      padding-right: 75px;
      font-size: 16px; } }
  @media (min-width: 993px) {
    p.description {
      padding: 0 70px 0 15px; } }
  @media (min-width: 1023px) {
    p.description {
      line-height: 30px;
      font-size: 16px;
      margin-top: 58%;
      padding: 0 60px 0 20px; } }
  @media (min-width: 1280px) {
    p.description {
      margin-top: 49%;
      padding-right: 105px; } }

p.description-fresh {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff; }
  p.description-fresh span {
    font-family: "Covered By Your Grace", cursive;
    font-size: 30px;
    font-weight: 500; }
  @media (min-width: 768px) {
    p.description-fresh {
      margin-top: 0;
      padding: 0 35px 0 30px;
      font-size: 16px; } }
  @media (min-width: 992px) {
    p.description-fresh {
      margin-top: 70%;
      padding: 0 70px 0 70px;
      padding-left: 0; } }
  @media (min-width: 993px) {
    p.description-fresh {
      padding: 0 70px 0 15px; } }
  @media (min-width: 1023px) {
    p.description-fresh {
      margin-top: 63%;
      padding: 0 60px 0 20px;
      font-size: 18px;
      line-height: 35px; } }
  @media (min-width: 1280px) {
    p.description-fresh {
      margin-top: 47%;
      padding-right: 120px; } }

.panel {
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-radius: none;
  box-shadow: none;
  padding: 0 40px; }
  @media (min-width: 992px) {
    .panel {
      padding: 0; } }

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0; }

body {
  background-color: #fff; }

.face-button {
  height: 40px;
  display: inline-block;
  border: 3px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #68BD45;
  overflow: hidden; }
  .face-button:hover {
    text-decoration: none; }
  @media (min-width: 768px) {
    .face-button {
      margin-left: 30px; } }
  @media (min-width: 992px) {
    .face-button {
      margin-left: 20px; } }
  @media (min-width: 768px) {
    .face-button.cm {
      margin-left: 40px; } }
  @media (min-width: 992px) {
    .face-button.cm {
      margin-left: 20px; } }
  @media (min-width: 1023px) {
    .face-button.cm {
      margin-left: 20px; } }
  .face-button .icon {
    margin-right: 6px; }
  .face-button .face-primary,
  .face-button .face-secondary {
    display: block;
    padding: 0 10px;
    line-height: 35px;
    transition: margin .4s;
    color: #fff; }
  .face-button .face-primary {
    background-color: #fff;
    color: #68BD45; }
  .face-button:hover .face-primary {
    margin-top: -35px; }

.face-button-card {
  height: 40px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #68BD45;
  overflow: hidden; }
  .face-button-card:hover {
    text-decoration: none; }
  @media (min-width: 768px) {
    .face-button-card.cm {
      margin-left: 130px; } }
  @media (min-width: 992px) {
    .face-button-card.cm {
      margin-left: 0; } }
  @media (min-width: 1023px) {
    .face-button-card.cm {
      margin-left: 0; } }
  .face-button-card .icon {
    margin-right: 6px; }
  .face-button-card .face-primary,
  .face-button-card .face-secondary {
    display: block;
    padding: 0 10px;
    line-height: 35px;
    transition: margin .4s;
    color: #000; }
  .face-button-card .face-primary {
    background-color: transparent;
    color: #68BD45; }
    @media (min-width: 1023px) {
      .face-button-card .face-primary {
        margin-right: 187px; } }
  .face-button-card .face-secondary {
    margin-right: 90px; }
  .face-button-card:hover .face-primary {
    margin-top: -35px; }

.face-button-card-2 {
  height: 40px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #68BD45;
  overflow: hidden; }
  .face-button-card-2:hover {
    text-decoration: none; }
  .face-button-card-2 .icon {
    margin-right: 6px; }
  .face-button-card-2 .face-primary,
  .face-button-card-2 .face-secondary {
    display: block;
    padding: 0 10px;
    line-height: 35px;
    transition: margin .4s;
    color: #000; }
  .face-button-card-2 .face-primary {
    background-color: transparent;
    color: #68BD45; }
    @media (min-width: 768px) {
      .face-button-card-2 .face-primary {
        margin-right: 0; } }
    @media (min-width: 1023px) {
      .face-button-card-2 .face-primary {
        margin-right: 240px; } }
  .face-button-card-2 .face-secondary {
    margin-right: 140px; }
  .face-button-card-2:hover .face-primary {
    margin-top: -35px; }

#nav ul li {
  position: fixed;
  z-index: 900;
  text-transform: uppercase;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none; }
  #nav ul li a {
    color: #fff;
    transition: all .3s; }
  #nav ul li.bottom-right {
    bottom: 50px;
    right: 50px;
    font-size: 24px; }
  #nav ul li.bottom-left {
    bottom: 40px;
    left: 50px;
    font-size: 24px; }
    #nav ul li.bottom-left a {
      color: #fff; }
    @media (min-width: 768px) {
      #nav ul li.bottom-left {
        left: 50px;
        bottom: 50px; } }
    @media (min-width: 1280px) {
      #nav ul li.bottom-left {
        bottom: 60px; } }
  #nav ul li.bottom-left-rot {
    transform: rotate(-90deg);
    font-size: 18px; }
    @media (min-width: 768px) {
      #nav ul li.bottom-left-rot {
        bottom: 120px;
        left: 0; } }
    @media (min-width: 992px) {
      #nav ul li.bottom-left-rot {
        bottom: 180px;
        left: 0; } }
    @media (min-width: 1023px) {
      #nav ul li.bottom-left-rot {
        bottom: 110px;
        right: 92%; } }
    @media (min-width: 1280px) {
      #nav ul li.bottom-left-rot {
        bottom: 120px;
        right: 92%; } }
  #nav ul li.top-right {
    top: 30px;
    right: 70px;
    font-size: 30px; }
    #nav ul li.top-right a {
      text-decoration: none;
      color: #000; }
      #nav ul li.top-right a:first-child {
        font-weight: 400;
        font-size: 22px; }
  #nav ul li.top-right-2 {
    top: 70px;
    right: 72px; }
    #nav ul li.top-right-2 a {
      color: #000; }
  #nav ul li.top-left {
    top: 40px;
    left: 50px;
    font-size: 24px; }
    #nav ul li.top-left img {
      top: 20px; }
      @media (min-width: 768px) {
        #nav ul li.top-left img {
          height: 40px;
          width: auto; } }
      @media (min-width: 992px) {
        #nav ul li.top-left img {
          height: 50px;
          width: auto; } }
      @media (min-width: 1023px) {
        #nav ul li.top-left img {
          height: 60px;
          width: auto; } }
  #nav ul li.arrow-left a, #nav ul li.arrow-right a {
    color: #c2c2c2;
    font-size: 30px;
    transition: color 1s ease; }
  #nav ul li.arrow-left :hover, #nav ul li.arrow-right :hover {
    color: #aaaaaa; }
  #nav ul li.arrow-left {
    top: 50%;
    left: 95%; }
  #nav ul li.arrow-right {
    top: 50%;
    left: 35%; }

.navbar-custom {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1023; }
  .navbar-custom button.navbar-toggle {
    margin-top: 3px; }
  .navbar-custom .navbar-brand img {
    width: 120px; }

#menu-hidronatura ul.nav.navbar-nav {
  background-color: #68BD45; }
  #menu-hidronatura ul.nav.navbar-nav li a {
    color: #fff;
    font-family: "Covered By Your Grace", cursive;
    font-size: 20px; }

table {
  padding: 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px; }
  @media (min-width: 1023px) {
    table {
      margin-top: 20px; } }

.table tbody tr th {
  padding: 3px; }

.table tbody tr td {
  padding: 2px; }

.table tfoot {
  font-size: 10px; }

#main {
  background-image: url("/img/body.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%; }
  @media (min-width: 1023px) {
    #main {
      height: 100vh; } }

#fresh-main, #genious-main, #motivate-main {
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%; }
  #fresh-main .logo-sm, #genious-main .logo-sm, #motivate-main .logo-sm {
    height: 120px;
    float: none;
    margin: 45% 0 4% 0; }
    @media (min-width: 992px) {
      #fresh-main .logo-sm, #genious-main .logo-sm, #motivate-main .logo-sm {
        margin: 25% 0 4% 0; } }
    @media (min-width: 993px) {
      #fresh-main .logo-sm, #genious-main .logo-sm, #motivate-main .logo-sm {
        margin: 30% 0 4% 0; } }
  #fresh-main .logo-sm-2, #genious-main .logo-sm-2, #motivate-main .logo-sm-2 {
    height: 150px;
    float: none;
    margin: 45% 0 4% 0; }
    @media (min-width: 992px) {
      #fresh-main .logo-sm-2, #genious-main .logo-sm-2, #motivate-main .logo-sm-2 {
        margin: 25% 0 4% 0; } }
    @media (min-width: 993px) {
      #fresh-main .logo-sm-2, #genious-main .logo-sm-2, #motivate-main .logo-sm-2 {
        margin: 30% 0 4% 0; } }
  #fresh-main img[src*="img/logoHN.png"], #genious-main img[src*="img/logoHN.png"], #motivate-main img[src*="img/logoHN.png"] {
    margin: 1% 0 0 2%;
    height: 60px;
    width: auto;
    z-index: 99999; }
  @media (min-width: 1023px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 30%;
        height: 500px;
        margin-top: 130px; } }
  @media (min-width: 993px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 33%;
        height: 450px;
        margin-top: 100px; } }
  @media (min-width: 1023px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 33%;
        height: 450px;
        margin-top: 160px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
      left: 31%;
      margin-top: 140px;
      height: 500px; } }
  @media (min-width: 1180px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 33%;
        margin-top: 140px;
        height: 450px; } }
  @media (min-width: 1280px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 130px;
        margin-top: 65px;
        height: 500px; } }
  @media (min-width: 1283px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 32%;
        margin-top: 95px;
        height: 500px; } }
  @media (min-width: 1380px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 30%;
        margin-top: calc(.12*100vh);
        height: 580px; } }
  @media (min-width: 1920px) {
    #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
      left: 32%;
      margin-top: 16%;
      height: 680px; } }
  @media (min-width: 992px) {
    #fresh-main img.animated, #genious-main img.animated, #motivate-main img.animated {
      animation: leafs 7s ease-in-out infinite; }
    @keyframes leafs {
      10% {
        transform: scale(1); }
      80% {
        transform: scale(1.1); }
      100% {
        transform: scale(1); } } }

#fresh-main {
  background-image: url("/img/fresh-main-sm.jpg"); }
  @media (min-width: 1200px) {
    #fresh-main {
      background-image: url("/img/fresh-main-test.jpg"); } }
  @media (min-width: 1280px) {
    #fresh-main {
      background-image: url("/img/fresh-main-test.jpg"); } }
  #fresh-main img {
    height: 300px;
    margin: 10% auto; }
    #fresh-main img[src*="img/logoHN.png"] {
      margin: 1% 0 0 2%;
      height: 60px;
      width: auto;
      z-index: 99999; }
    @media (min-width: 768px) {
      #fresh-main img {
        margin-top: 27%;
        height: 78vh; } }
    @media (min-width: 992px) {
      #fresh-main img {
        margin-top: 60px;
        height: auto; } }
    @media (min-width: 1023px) {
      #fresh-main img {
        margin-top: 100px;
        height: auto; } }
    @media (min-width: 1280px) {
      #fresh-main img {
        margin: 10% auto;
        height: auto; } }
    @media (min-width: 1380px) {
      #fresh-main img {
        margin: calc(.1*100vh) auto;
        height: auto; } }

#genious-main {
  background-image: url("/img/genious-main-sm.jpg"); }
  @media (min-width: 1200px) {
    #genious-main {
      background-image: url("/img/genious-main-test.jpg"); } }
  @media (min-width: 1280px) {
    #genious-main {
      background-image: url("/img/genious-main-test.jpg"); } }
  #genious-main img {
    height: 300px;
    margin: 10% auto; }
    @media (min-width: 768px) {
      #genious-main img {
        margin-top: 27%;
        height: 78vh; } }
    @media (min-width: 992px) {
      #genious-main img {
        margin-top: 60px;
        height: auto; } }
    @media (min-width: 1023px) {
      #genious-main img {
        margin-top: 100px;
        height: 80vh; } }
    @media (min-width: 1280px) {
      #genious-main img {
        margin: 14% auto 0;
        height: auto; } }
    @media (min-width: 1380px) {
      #genious-main img {
        margin: calc(.1*100vh) auto;
        height: auto; } }
    #genious-main img :nth-child(2n+1) {
      margin-right: 10px; }

#motivate-main {
  background-image: url("/img/motivate-main-sm.jpg"); }
  @media (min-width: 1200px) {
    #motivate-main {
      background-image: url("/img/motivate-main-test.jpg"); } }
  @media (min-width: 1280px) {
    #motivate-main {
      background-image: url("/img/motivate-main-test.jpg"); } }
  #motivate-main img {
    height: 300px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      #motivate-main img {
        margin-top: 25%;
        height: 78vh; } }
    @media (min-width: 992px) {
      #motivate-main img {
        margin-top: 60px;
        height: auto; } }
    @media (min-width: 1023px) {
      #motivate-main img {
        margin: 100px 3%;
        height: 80vh; } }
    @media (min-width: 1280px) {
      #motivate-main img {
        margin: 14% auto 0;
        height: auto; } }
    @media (min-width: 1380px) {
      #motivate-main img {
        margin: calc(.1*100vh) auto;
        height: auto; } }

#main-image img.img-responsive {
  margin: 0 auto;
  height: auto; }
  @media (min-width: 768px) {
    #main-image img.img-responsive {
      height: 99vh; } }
  @media (min-width: 992px) {
    #main-image img.img-responsive {
      height: 99vh; } }
  @media (min-width: 1280px) {
    #main-image img.img-responsive {
      width: auto;
      height: 100vh; } }

#main-products {
  background-image: url("/img/body-sm.jpg"); }
  @media (min-width: 768px) {
    #main-products {
      background-image: url("/img/body.png");
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 100%;
      position: relative; } }
  #main-products #products h3 {
    color: #fff;
    margin: 0;
    font-weight: 700; }
    @media (min-width: 768px) {
      #main-products #products h3 {
        margin-top: 90px;
        font-size: 60px; } }
    @media (min-width: 992px) {
      #main-products #products h3 {
        margin-top: 80px;
        font-size: 50px; } }
    @media (min-width: 1023px) {
      #main-products #products h3 {
        margin-top: 50px; } }
    @media (min-width: 1280px) {
      #main-products #products h3 {
        margin-top: 40px; } }
  #main-products #products p {
    z-index: 0;
    position: absolute;
    font-family: "Covered By Your Grace", cursive;
    color: #fff; }
    @media (min-width: 768px) {
      #main-products #products p {
        font-size: 18px;
        bottom: 30%;
        left: 58%; } }
    @media (min-width: 800px) {
      #main-products #products p {
        font-size: 18px;
        bottom: 30%;
        left: 57.5%; } }
    @media (min-width: 900px) {
      #main-products #products p {
        font-size: 18px;
        bottom: 30%;
        left: 56.8%; } }
    @media (min-width: 1080px) {
      #main-products #products p {
        left: 55.7%; } }
    @media (min-width: 1199px) {
      #main-products #products p {
        left: 55.4%; } }
    @media (min-width: 1200px) {
      #main-products #products p {
        font-size: 20px;
        left: 56%; } }
    @media (min-width: 1280px) {
      #main-products #products p {
        font-size: 20px;
        left: 56%; } }
    @media (min-width: 1300px) {
      #main-products #products p {
        font-size: 20px;
        left: 56.4%; } }
    @media (min-width: 1400px) {
      #main-products #products p {
        font-size: 20px;
        left: 56%; } }
    #main-products #products p i {
      font-size: 14px; }
  #main-products #products #products-list {
    margin-top: 40px;
    z-index: 1; }
    @media (min-width: 768px) {
      #main-products #products #products-list {
        margin-top: 20px; } }
    @media (min-width: 992px) {
      #main-products #products #products-list {
        margin-top: 20px; } }
    @media (min-width: 1023px) {
      #main-products #products #products-list {
        margin-top: 20px; } }
    #main-products #products #products-list a img.img-responsive {
      margin: 0 auto;
      transition: all .4s; }
      @media (min-width: 768px) {
        #main-products #products #products-list a img.img-responsive {
          height: 60%;
          width: 71%; } }
      @media (min-width: 992px) {
        #main-products #products #products-list a img.img-responsive {
          height: 43%;
          width: 55%; }
          #main-products #products #products-list a img.img-responsive[src*="img/fresh.png"] {
            float: right; }
          #main-products #products #products-list a img.img-responsive[src*="img/motivate.png"] {
            float: left; } }
      @media (min-width: 1200px) {
        #main-products #products #products-list a img.img-responsive {
          height: 37%;
          width: 48%; } }
      @media (min-width: 1380px) {
        #main-products #products #products-list a img.img-responsive {
          height: 45%;
          width: 56%; } }
      @media (min-width: 1282px) {
        #main-products #products #products-list a img.img-responsive {
          height: 45%;
          width: 55%; } }
      @media (min-width: 1679px) {
        #main-products #products #products-list a img.img-responsive {
          height: 55%;
          width: 65%; } }
      #main-products #products #products-list a img.img-responsive:hover {
        transform: scale(1.1); }

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto; }

#mycarousel a.left.carousel-control {
  text-shadow: none;
  opacity: 1;
  transition: color .3s;
  position: fixed; }
  @media (min-width: 768px) {
    #mycarousel a.left.carousel-control {
      margin: 120px 0 170px; } }
  #mycarousel a.left.carousel-control:hover {
    color: #000; }

.left-arrow {
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 2%; }
  .left-arrow span i.fa {
    font-size: 36px;
    position: relative;
    top: 50%;
    left: 10%;
    text-shadow: none;
    opacity: 1; }
  .left-arrow:hover {
    color: #000; }
  .left-arrow:hover .text {
    opacity: 1;
    right: 90%; }

#mycarousel .control-right a.right.carousel-control {
  text-shadow: none;
  opacity: 1;
  transition: color .3s;
  margin: 110px 0;
  z-index: 1;
  position: fixed; }
  #mycarousel .control-right a.right.carousel-control .right-arrow {
    position: fixed;
    top: 50%;
    left: 91%;
    transition: color .3s; }
    @media (min-width: 768px) {
      #mycarousel .control-right a.right.carousel-control .right-arrow {
        left: 95%; } }
    @media (min-width: 1023px) {
      #mycarousel .control-right a.right.carousel-control .right-arrow {
        left: 96%; } }
    #mycarousel .control-right a.right.carousel-control .right-arrow span i.fa {
      font-size: 36px; }
    #mycarousel .control-right a.right.carousel-control .right-arrow:hover {
      color: #000; }
  #mycarousel .control-right a.right.carousel-control:hover .text {
    opacity: 1;
    right: 60%; }

.carousel-inner #main a.right.carousel-control {
  text-shadow: none;
  opacity: 1;
  transition: color .3s;
  margin: 110px 0; }
  .carousel-inner #main a.right.carousel-control .right-arrow {
    position: fixed;
    top: 50%;
    left: 90%; }
    @media (min-width: 768px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 200px;
        left: 84%; } }
    @media (min-width: 992px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 300px;
        left: 81%; } }
    @media (min-width: 1023px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 400px;
        left: 78%; } }
    @media (min-width: 1280px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 500px;
        left: 77%; } }
    @media (min-width: 1917px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        left: 84% !important; } }
    @media (min-width: 1330px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 600px;
        left: 76%; } }
    @media (min-width: 1680px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        left: 79%; } }
    .carousel-inner #main a.right.carousel-control .right-arrow .text {
      font-family: "Covered By Your Grace", cursive;
      font-size: 30px;
      position: absolute;
      top: 0;
      right: 20%;
      opacity: 0;
      -webkit-transition-property: opacity, right;
      -o-transition-property: opacity, right;
      transition-property: opacity, right;
      -webkit-transition-delay: .3s;
      -o-transition-delay: .3s;
      transition-delay: .3s;
      -webkit-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s;
      -webkit-transition-timing-function: ease-in-out, ease-out;
      -o-transition-timing-function: ease-in-out, ease-out;
      transition-timing-function: ease-in-out, ease-out; }
      @media (min-width: 1280px) {
        .carousel-inner #main a.right.carousel-control .right-arrow .text {
          font-size: 36px; } }
    .carousel-inner #main a.right.carousel-control .right-arrow span i.fa {
      font-size: 36px; }
    .carousel-inner #main a.right.carousel-control .right-arrow:hover {
      color: #000; }
    .carousel-inner #main a.right.carousel-control .right-arrow:hover .text {
      opacity: 1;
      right: 60%; }

#group.row.logos .panel img {
  margin: 0 auto 20px; }
  @media (min-width: 1280px) {
    #group.row.logos .panel img[src*="img/logos/heb.png"] {
      width: 150px; }
    #group.row.logos .panel img[src*="img/logos/oxxo.png"] {
      width: 110px; } }
  @media (min-width: 1920px) {
    #group.row.logos .panel img[src*="img/logos/oxxo.png"] {
      width: 130px; } }

@media (min-width: 768px) {
  #group.row.logos .panel {
    padding: 0 50px 0 150px; } }

@media (min-width: 992px) {
  #group.row.logos .panel {
    padding: 0 30px 0 200px; } }

@media (min-width: 1023px) {
  #group.row.logos .panel {
    padding: 0 70px 0 200px; } }

@media (min-width: 1280px) {
  #group.row.logos .panel {
    padding: 0 80px 0 240px; } }

.background-right {
  position: fixed;
  margin-bottom: 200px; }

#fresh {
  background-color: #9EC432;
  height: 100%; }
  #fresh div.col-xs-12.product-card-img {
    padding: 0; }
  @media (min-width: 1023px) {
    #fresh div.col-md-3 {
      padding-left: 0; } }
  #fresh .background-left {
    overflow: hidden;
    position: fixed;
    z-index: 200;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%; }
    @media (min-width: 1023px) {
      #fresh .background-left {
        width: 35%; } }
    @media (min-width: 1023px) {
      #fresh .background-left {
        overflow: initial; } }
    #fresh .background-left img {
      height: 550px;
      transform: scale(1.2);
      /* Portrait and Landscape */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #fresh .background-left img {
          height: 620px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        #fresh .background-left img {
          height: 750px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #fresh .background-left img {
          height: 650px; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        #fresh .background-left img {
          height: 800px; } }
      @media (min-width: 768px) {
        #fresh .background-left img {
          height: 650px;
          transform: scale(1); } }
      @media (min-width: 1023px) {
        #fresh .background-left img {
          height: auto;
          max-height: 100vh;
          width: auto;
          display: block;
          transform: scale(1); } }

.card {
  position: relative;
  margin: 420px 5px 0 5px;
  z-index: 500; }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .card {
      margin-top: 490px; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .card {
      margin-top: 590px; } }
  @media (min-width: 768px) {
    .card {
      margin-top: 600px; } }
  @media (min-width: 992px) {
    .card {
      top: 10px;
      overflow: visible;
      margin: 0; } }
  .card .content {
    background: #FFF8D9;
    overflow: auto;
    padding: 15px;
    position: absolute; }
    @media (min-width: 768px) {
      .card .content {
        padding: 35px; } }
    @media (min-width: 992px) {
      .card .content {
        height: 97vh;
        top: 0;
        right: 10px;
        bottom: 10px;
        left: 90px;
        overflow: auto;
        padding: 0 70px; } }
    @media (min-width: 1280px) {
      .card .content {
        padding: 0 100px; } }
    .card .content .card-link-contact {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #000; }
    .card .content .source {
      padding-right: 10px;
      font-size: 9px; }
    .card .content p {
      font-family: "Lato", sans-serif;
      font-weight: 500; }
      .card .content p.heading {
        font-size: 34px; }
      .card .content p.sub-heading {
        font-weight: 300; }
    @media (min-width: 992px) {
      .card .content .img-card {
        margin: 20px 0 0;
        height: 100px; } }
    @media (min-width: 1280px) {
      .card .content .img-card {
        height: 120px; } }
    @media (min-width: 992px) {
      .card .content .img-card-fresh {
        margin: 20px 0 0;
        height: 100px; } }
    @media (min-width: 1023px) {
      .card .content .img-card-fresh {
        height: 170px; } }
    .card .content .description {
      margin-bottom: 20px; }
      @media (min-width: 1280px) {
        .card .content .description {
          padding: 0 40px; } }
    @media (min-width: 1280px) {
      .card .content .info {
        padding: 0 80px; } }
    @media (min-width: 1280px) {
      .card .content .info {
        padding: 0 80px;
        margin-bottom: 30px; } }
    .card .content .info h3 {
      margin: 0; }
    .card .content .info ul li {
      font-family: "Lato", sans-serif; }
  .card .footer {
    padding-left: 100px; }
    @media (min-width: 1023px) {
      .card .footer {
        padding: 0 240px; } }
    .card .footer h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 10px; }

.card-2 {
  position: relative;
  margin-top: 350px;
  z-index: 500; }
  @media (min-width: 768px) {
    .card-2 {
      margin-top: 0;
      top: 10px; } }
  @media (min-width: 992px) {
    .card-2 {
      top: 10px;
      overflow: visible;
      margin: 0; } }
  .card-2 .content-about {
    top: 0;
    background: #FFF8D9; }
    @media (min-width: 768px) {
      .card-2 .content-about {
        height: 97vh;
        position: absolute;
        top: 10px;
        right: 5px;
        bottom: 10px;
        left: 10px;
        overflow: auto;
        overflow-x: hidden; } }
    .card-2 .content-about img {
      position: fixed;
      z-index: 999; }
      @media (min-width: 768px) {
        .card-2 .content-about img {
          height: 35px;
          margin: 10px 0 0 25px; } }
      @media (min-width: 992px) {
        .card-2 .content-about img {
          margin: 10px 0 0 25px; } }
      @media (min-width: 1023px) {
        .card-2 .content-about img {
          height: 50px;
          margin: 10px 0 0 25px; } }
      @media (min-width: 1280px) {
        .card-2 .content-about img {
          height: 60px;
          margin: 10px 0 0 25px; } }
    .card-2 .content-about h3 {
      padding: 30px 40px 0 40px; }
      @media (min-width: 768px) {
        .card-2 .content-about h3 {
          padding: 0 110px 0 140px; } }
      @media (min-width: 1023px) {
        .card-2 .content-about h3 {
          padding: 0 190px 0; } }
      @media (min-width: 1280px) {
        .card-2 .content-about h3 {
          padding: 0 230px 0; } }
      .card-2 .content-about h3.first-heading {
        font-weight: 500; }
        @media (min-width: 768px) {
          .card-2 .content-about h3.first-heading {
            margin: 50px 0 20px; } }
        @media (min-width: 992px) {
          .card-2 .content-about h3.first-heading {
            margin: 50px 0 20px; } }
        @media (min-width: 1023px) {
          .card-2 .content-about h3.first-heading {
            margin: 60px 0 0;
            font-size: 40px; } }
        @media (min-width: 1280px) {
          .card-2 .content-about h3.first-heading {
            margin: 100px 0 0;
            font-size: 48px; } }
    .card-2 .content-about p {
      font-size: 13px;
      padding: 0 40px 0 40px;
      font-family: "Lato", sans-serif; }
      @media (min-width: 768px) {
        .card-2 .content-about p {
          font-size: 13px;
          padding: 0 40px 0 140px; } }
      @media (min-width: 992px) {
        .card-2 .content-about p {
          padding: 0 70px 0 150px; } }
      @media (min-width: 1023px) {
        .card-2 .content-about p {
          padding: 0 100px 0 190px;
          margin-top: 20px; } }
      @media (min-width: 1280px) {
        .card-2 .content-about p {
          padding: 0 75px 0 230px;
          margin-top: 20px; } }
    @media (min-width: 768px) {
      .card-2 .content-about .face-button-card-2 {
        margin: 0 40px 0 80px; } }
    @media (min-width: 992px) {
      .card-2 .content-about .face-button-card-2 {
        margin: 0 70px 0 150px; } }
    @media (min-width: 1023px) {
      .card-2 .content-about .face-button-card-2 {
        margin: 0 100px 0 190px; } }
    @media (min-width: 1280px) {
      .card-2 .content-about .face-button-card-2 {
        margin: 0 0 0 230px; } }
    .card-2 .content-about .social-contacto a {
      font-family: "Lato", sans-serif;
      font-size: 22px;
      color: #000; }
      @media (min-width: 992px) {
        .card-2 .content-about .social-contacto a {
          font-size: 28px; } }
      @media (min-width: 1280px) {
        .card-2 .content-about .social-contacto a:nth-child(2n) {
          padding-left: 10px; } }
    @media (min-width: 768px) {
      .card-2 .content-about .social {
        padding: 0 140px; } }
    @media (min-width: 992px) {
      .card-2 .content-about .social {
        padding: 0 150px; } }
    @media (min-width: 1023px) {
      .card-2 .content-about .social {
        padding: 0 190px; } }
    @media (min-width: 1280px) {
      .card-2 .content-about .social {
        padding: 0 230px; } }
    .card-2 .content-about .social a {
      font-family: "Lato", sans-serif;
      font-size: 28px;
      color: #000; }
      @media (min-width: 1280px) {
        .card-2 .content-about .social a:nth-child(2n) {
          padding-left: 10px; } }
    .card-2 .content-about #contact-form {
      padding: 0 40px; }
      .card-2 .content-about #contact-form .form-group {
        margin-top: 15px; }
        .card-2 .content-about #contact-form .form-group .form-control {
          position: absolute;
          background-color: #FFF8D9;
          border: none;
          border-bottom: 1px solid #c7bca9;
          border-radius: 0;
          width: 75%;
          font-family: "Lato", sans-serif;
          box-shadow: none; }
          .card-2 .content-about #contact-form .form-group .form-control + .control-label {
            position: relative;
            padding: 6px 11px;
            cursor: text;
            -webkit-transform-origin: left center;
            -ms-transform-origin: left center;
            transform-origin: left center;
            color: #C0BFBF;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
          .card-2 .content-about #contact-form .form-group .form-control:focus + .control-label {
            color: #333;
            -webkit-transform: scale(0.8) translateY(-18px);
            -ms-transform: scale(0.8) translateY(-18px);
            transform: scale(0.8) translateY(-18px); }
          @media (min-width: 992px) {
            .card-2 .content-about #contact-form .form-group .form-control {
              width: 57%; } }
      .card-2 .content-about #contact-form .btn-send {
        background-color: #63c9ac;
        color: #fff;
        font-family: "Covered By Your Grace", cursive;
        font-size: 20px;
        width: 200px;
        transition: all .3s; }
        .card-2 .content-about #contact-form .btn-send:hover {
          background-color: #63b9ac;
          box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.15); }
      @media (min-width: 768px) {
        .card-2 .content-about #contact-form {
          padding: 0 150px;
          overflow: hidden; } }
      @media (min-width: 992px) {
        .card-2 .content-about #contact-form {
          padding: 0 180px;
          overflow: hidden; }
          .card-2 .content-about #contact-form .form-group .form-control {
            width: 57%; } }
      @media (min-width: 1023px) {
        .card-2 .content-about #contact-form {
          padding: 0 210px;
          overflow: hidden; }
          .card-2 .content-about #contact-form .form-group .form-control {
            width: 52%; } }
      @media (min-width: 1280px) {
        .card-2 .content-about #contact-form {
          padding: 0 240px;
          overflow: hidden; }
          .card-2 .content-about #contact-form .form-group .form-control {
            width: 45%; } }
    .card-2 .content-about .logos img {
      margin: 0 auto 20px;
      width: 100px; }
      .card-2 .content-about .logos img[src*="img/logos/oxxo.png"] {
        width: 50px; }
      @media (min-width: 1280px) {
        .card-2 .content-about .logos img[src*="img/logos/heb.png"] {
          width: 150px; }
        .card-2 .content-about .logos img[src*="img/logos/oxxo.png"] {
          width: 110px; } }
      @media (min-width: 1920px) {
        .card-2 .content-about .logos img[src*="img/logos/oxxo.png"] {
          width: 130px; } }
    @media (min-width: 768px) {
      .card-2 .content-about .logos {
        padding: 0 50px 0 150px; } }
    @media (min-width: 992px) {
      .card-2 .content-about .logos {
        padding: 0 30px 0 200px; } }
    @media (min-width: 1023px) {
      .card-2 .content-about .logos {
        padding: 0 70px 0 200px; } }
    @media (min-width: 1280px) {
      .card-2 .content-about .logos {
        padding: 0 80px 0 240px; } }
  .card-2 .footer {
    padding-left: 100px; }
    @media (min-width: 1023px) {
      .card-2 .footer {
        padding: 0 240px; } }
    .card-2 .footer h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 10px; }

#genious {
  background-color: #329bca;
  height: 100%; }
  #genious div.col-xs-12.product-card-img {
    padding: 0; }
  @media (min-width: 1023px) {
    #genious div.col-md-3 {
      padding-left: 0; } }
  #genious .background-left {
    overflow: hidden;
    position: fixed;
    z-index: 200;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%; }
    @media (min-width: 1023px) {
      #genious .background-left {
        width: 35%; } }
    @media (min-width: 1023px) {
      #genious .background-left {
        overflow: initial; } }
    #genious .background-left img {
      height: 550px;
      transform: scale(1.2);
      /* Portrait and Landscape */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #genious .background-left img {
          height: 620px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        #genious .background-left img {
          height: 750px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #genious .background-left img {
          height: 650px; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        #genious .background-left img {
          height: 800px; } }
      @media (min-width: 768px) {
        #genious .background-left img {
          height: 650px;
          transform: scale(1); } }
      @media (min-width: 1023px) {
        #genious .background-left img {
          height: auto;
          max-height: 100vh;
          width: auto;
          display: block;
          transform: scale(1); } }

#motivate {
  background-color: #aa0000;
  height: 100%; }
  #motivate div.col-xs-12.product-card-img {
    padding: 0; }
  @media (min-width: 1023px) {
    #motivate div.col-md-3 {
      padding-left: 0; } }
  #motivate .background-left {
    overflow: hidden;
    position: fixed;
    z-index: 200;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%; }
    @media (min-width: 1023px) {
      #motivate .background-left {
        width: 35%; } }
    @media (min-width: 1023px) {
      #motivate .background-left {
        overflow: initial; } }
    #motivate .background-left img {
      height: 550px;
      transform: scale(1.2);
      /* Portrait and Landscape */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #motivate .background-left img {
          height: 620px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        #motivate .background-left img {
          height: 750px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #motivate .background-left img {
          height: 650px; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        #motivate .background-left img {
          height: 800px; } }
      @media (min-width: 768px) {
        #motivate .background-left img {
          height: 650px;
          transform: scale(1); } }
      @media (min-width: 1023px) {
        #motivate .background-left img {
          height: auto;
          max-height: 100vh;
          width: auto;
          display: block;
          transform: scale(1); } }

#nosotros {
  background-image: url("/img/01.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center; }
  @media (min-width: 768px) {
    #nosotros {
      height: 100%; } }
