#logo {
  height: auto;
  margin-top: 8px;
  margin-left: 4%;
  width: 120px; }
  @media (min-width: 768px) {
    #logo {
      height: auto;
      margin-top: 2%;
      width: 190px; } }

.icon-bar {
  background-color: #fff;
  margin-top: 13px;
  height: 13px;
  border-radius: 2px; }

@media (min-width: 768px) {
  .img-about {
    margin-top: 100px; } }

html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  background-color: #fff; }

#nav ul li {
  position: fixed;
  z-index: 900;
  text-transform: uppercase;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }
  #nav ul li a {
    color: #fff; }
  #nav ul li.bottom-right {
    bottom: 50px;
    right: 50px;
    font-size: 24px; }
  #nav ul li.bottom-left {
    bottom: 40px;
    left: 50px;
    font-size: 18px; }
    #nav ul li.bottom-left a {
      color: #000; }
  #nav ul li.top-right {
    top: 50px;
    right: 50px;
    transform: rotate(90deg);
    font-size: 18px; }

#menu-hidronatura ul.nav.navbar-nav {
  background-color: #fff; }

#main {
  background-image: url("/img/body.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  @media (min-width: 768px) {
    #main {
      height: 100vh; } }

#main-image img {
  margin: 0 auto; }
  @media (min-width: 768px) {
    #main-image img {
      width: auto;
      height: 98vh; } }

#main-products {
  background-image: url("/img/body.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 7px;
  height: 100%; }
  @media (min-width: 768px) {
    #main-products {
      height: 97vh; } }
  #main-products #products h1 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: 0;
    font-weight: 700; }
    @media (min-width: 768px) {
      #main-products #products h1 {
        margin-top: 60px; } }
  #main-products #products #products-list {
    margin-top: 40px; }
    @media (min-width: 768px) {
      #main-products #products #products-list {
        margin-top: 60px; } }
    #main-products #products #products-list img {
      height: 275px;
      width: 100px;
      margin: 10px auto;
      transition: all .4s; }
      @media (min-width: 768px) {
        #main-products #products #products-list img {
          height: 375px;
          width: 150px; } }
      #main-products #products #products-list img:hover {
        transform: scale(1.2); }

#fresh {
  background-image: url("/img/hidrofresh.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }
  @media (min-width: 768px) {
    #fresh {
      background-position: center center;
      height: 100vh; } }

#genious {
  background-image: url("/img/geniousbg.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }
  @media (min-width: 768px) {
    #genious {
      background-position: center center;
      height: 100vh; } }

#motivate {
  background-image: url("/img/motivatebg.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }
  @media (min-width: 768px) {
    #motivate {
      background-position: center center;
      height: 100vh; } }

#nosotros {
  background-image: url("/img/body.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }
  @media (min-width: 768px) {
    #nosotros {
      background-position: center center;
      height: 100vh; } }

.side-image img {
  height: 275px;
  width: 105px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .side-image img {
      height: 500px;
      width: 190px;
      margin: 60px auto; } }

.card {
  position: relative; }
  @media (min-width: 768px) {
    .card {
      top: 10px;
      margin: 0;
      overflow: visible;
      z-index: 599; } }
  .card .content {
    background: #fff;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px; }
    .card .content h1 {
      font-family: "Montserrat", sans-serif;
      color: #68BD45;
      margin: 40px 0; }
    .card .content p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400; }
    @media (min-width: 768px) {
      .card .content {
        padding: 0 100px;
        height: 95vh;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto; } }
