#logo {
  height: auto;
  margin-top: 8px;
  margin-left: 4%;
  width: 120px; }
  @media (min-width: 992px) {
    #logo {
      height: auto;
      margin-top: 2%;
      width: 190px; } }

.icon-bar {
  background-color: #fff;
  margin-top: 13px;
  height: 13px;
  border-radius: 2px; }

@media (min-width: 768px) {
  .img-about {
    margin-top: 200px; } }

@media (min-width: 992px) {
  .img-about {
    margin-top: 170px; } }

@media (min-width: 1023px) {
  .img-about {
    margin-top: 130px; } }

ul.inside {
  list-style: none; }
  ul.inside li {
    position: relative; }
    ul.inside li:before {
      position: absolute;
      display: block;
      content: '\2022';
      text-indent: -999999px;
      left: -12%;
      width: 19px;
      height: 21px;
      background-repeat: no-repeat;
      background-image: url("../img/ok.png");
      background-size: 14px 14px;
      background-position: 0 .3em; }

ul.not {
  list-style: none; }
  ul.not li {
    position: relative; }
    ul.not li:before {
      position: absolute;
      display: block;
      content: '\2022';
      text-indent: -999999px;
      left: -12%;
      width: 19px;
      height: 21px;
      background-repeat: no-repeat;
      background-image: url("../img/not.png");
      background-size: 14px 14px;
      background-position: 0 .3em; }

.funny-font {
  font-family: "Covered By Your Grace", cursive;
  font-size: 28px; }

p.description {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff; }
  p.description span {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 500; }
    @media (min-width: 768px) {
      p.description span {
        font-size: 21px; } }
    @media (min-width: 992px) {
      p.description span {
        font-size: 24px; } }
    @media (min-width: 1023px) {
      p.description span {
        font-size: 30px; } }
  @media (min-width: 768px) {
    p.description {
      margin-top: 47%;
      padding: 0 60px 0 128px;
      font-size: 14px; } }
  @media (min-width: 992px) {
    p.description {
      font-size: 14px;
      line-height: 25px;
      margin-top: 60%;
      padding-left: 0;
      padding-right: 75px;
      font-size: 16px; } }
  @media (min-width: 1023px) {
    p.description {
      line-height: 30px;
      font-size: 16px;
      margin-top: 40%;
      padding-right: 85px; } }
  @media (min-width: 1280px) {
    p.description {
      padding-right: 105px; } }

p.description-fresh {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff; }
  p.description-fresh span {
    font-family: "Covered By Your Grace", cursive;
    font-size: 30px;
    font-weight: 500; }
  @media (min-width: 768px) {
    p.description-fresh {
      margin-top: 50%;
      padding: 0 35px 0 0;
      font-size: 16px; } }
  @media (min-width: 992px) {
    p.description-fresh {
      margin-top: 70%;
      padding: 0 70px 0 70px;
      padding-left: 0; } }
  @media (min-width: 1023px) {
    p.description-fresh {
      margin-top: 54%;
      padding-right: 60px;
      font-size: 18px;
      line-height: 35px; } }
  @media (min-width: 1280px) {
    p.description-fresh {
      margin-top: 47%;
      padding-right: 120px; } }

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0; }

body {
  background-color: #fff; }

.face-button {
  height: 40px;
  display: inline-block;
  border: 3px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #68BD45;
  overflow: hidden; }
  .face-button:hover {
    text-decoration: none; }
  @media (min-width: 768px) {
    .face-button.cm {
      margin-left: 130px; } }
  @media (min-width: 992px) {
    .face-button.cm {
      margin-left: 0; } }
  @media (min-width: 1023px) {
    .face-button.cm {
      margin-left: 0; } }
  .face-button .icon {
    margin-right: 6px; }
  .face-button .face-primary,
  .face-button .face-secondary {
    display: block;
    padding: 0 10px;
    line-height: 35px;
    transition: margin .4s;
    color: #fff; }
  .face-button .face-primary {
    background-color: #fff;
    color: #68BD45; }
  .face-button:hover .face-primary {
    margin-top: -35px; }

#nav ul li {
  position: fixed;
  z-index: 900;
  text-transform: uppercase;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none; }
  #nav ul li a {
    color: #fff;
    transition: all .3s; }
  #nav ul li.bottom-right {
    bottom: 50px;
    right: 50px;
    font-size: 24px; }
  #nav ul li.bottom-left {
    bottom: 40px;
    left: 50px;
    font-size: 24px; }
    #nav ul li.bottom-left a {
      color: #fff; }
    @media (min-width: 768px) {
      #nav ul li.bottom-left {
        left: 50px;
        bottom: 50px; } }
    @media (min-width: 1280px) {
      #nav ul li.bottom-left {
        bottom: 60px; } }
  #nav ul li.bottom-left-rot {
    transform: rotate(-90deg);
    font-size: 18px; }
    @media (min-width: 768px) {
      #nav ul li.bottom-left-rot {
        bottom: 160px;
        left: 0; } }
    @media (min-width: 992px) {
      #nav ul li.bottom-left-rot {
        bottom: 180px;
        left: 0; } }
    @media (min-width: 1023px) {
      #nav ul li.bottom-left-rot {
        bottom: 175px;
        left: 0;
        right: 95%; } }
    @media (min-width: 1280px) {
      #nav ul li.bottom-left-rot {
        bottom: 180px;
        right: 95%; } }
  #nav ul li.top-right {
    top: 30px;
    right: 70px;
    font-size: 30px; }
    #nav ul li.top-right a {
      text-decoration: none;
      color: #000; }
      #nav ul li.top-right a:first-child {
        font-weight: 400;
        font-size: 22px; }
  #nav ul li.top-right-2 {
    top: 70px;
    right: 72px; }
    #nav ul li.top-right-2 a {
      color: #000; }
  #nav ul li.top-left {
    top: 40px;
    left: 50px;
    font-size: 24px; }
    #nav ul li.top-left img {
      top: 20px; }
      @media (min-width: 768px) {
        #nav ul li.top-left img {
          height: 40px;
          width: auto; } }
      @media (min-width: 992px) {
        #nav ul li.top-left img {
          height: 50px;
          width: auto; } }
      @media (min-width: 1023px) {
        #nav ul li.top-left img {
          height: 60px;
          width: auto; } }
  #nav ul li.arrow-left a, #nav ul li.arrow-right a {
    color: #c2c2c2;
    font-size: 30px;
    transition: color 1s ease; }
  #nav ul li.arrow-left :hover, #nav ul li.arrow-right :hover {
    color: #aaaaaa; }
  #nav ul li.arrow-left {
    top: 50%;
    left: 95%; }
  #nav ul li.arrow-right {
    top: 50%;
    left: 35%; }

#menu-hidronatura ul.nav.navbar-nav {
  background-color: #fff; }

table {
  font-family: "Lato", sans-serif;
  font-size: 12px; }
  @media (min-width: 1023px) {
    table {
      margin-top: 20px; } }

.table tbody tr th {
  padding: 3px; }

.table tbody tr td {
  padding: 2px; }

.table tfoot {
  font-size: 10px; }

#main {
  background-image: url("/img/body.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%; }
  @media (min-width: 1023px) {
    #main {
      height: 100vh; } }

#fresh-main, #genious-main, #motivate-main {
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%; }
  #fresh-main img[src*="img/logoHN.png"], #genious-main img[src*="img/logoHN.png"], #motivate-main img[src*="img/logoHN.png"] {
    margin: 1% 0 0 2%;
    height: 60px;
    width: auto;
    z-index: 99999; }
  @media (min-width: 993px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 118px;
        height: 57vh;
        margin-top: 145px; } }
  @media (min-width: 1023px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 115px;
        height: 450px;
        margin-top: 120px; } }
  @media (min-width: 1180px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 140px;
        margin-top: 140px;
        height: 450px; } }
  @media (min-width: 1280px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 130px;
        margin-top: 65px;
        height: 500px; } }
  @media (min-width: 1283px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 130px;
        margin-top: 95px;
        height: 500px; } }
  @media (min-width: 1380px) {
    #fresh-main img, #genious-main img, #motivate-main img {
      position: absolute; }
      #fresh-main img:nth-child(2n), #genious-main img:nth-child(2n), #motivate-main img:nth-child(2n) {
        left: 145px;
        height: 580px; } }
  @media (min-width: 992px) {
    #fresh-main img.animated, #genious-main img.animated, #motivate-main img.animated {
      animation: test 7s ease-in-out infinite; }
    @keyframes test {
      10% {
        transform: scale(1); }
      80% {
        transform: scale(1.1); }
      100% {
        transform: scale(1); } } }

#fresh-main {
  background-image: url("/img/fresh-main.png"); }
  #fresh-main img {
    height: 300px;
    margin: 10% auto; }
    #fresh-main img[src*="img/logoHN.png"] {
      margin: 1% 0 0 2%;
      height: 60px;
      width: auto;
      z-index: 99999; }
    @media (min-width: 768px) {
      #fresh-main img {
        margin-top: 35%;
        height: 80vh;
        float: right; } }
    @media (min-width: 992px) {
      #fresh-main img {
        margin-top: 120px;
        height: auto; } }
    @media (min-width: 1023px) {
      #fresh-main img {
        margin-top: 100px; } }
    @media (min-width: 1280px) {
      #fresh-main img {
        margin: 15% auto;
        height: auto; } }
    @media (min-width: 1380px) {
      #fresh-main img {
        margin: 10% auto;
        height: auto; } }

#genious-main {
  background-image: url("/img/geniousbg.png"); }
  #genious-main img {
    height: 300px;
    margin: 10% auto; }
    @media (min-width: 768px) {
      #genious-main img {
        margin-top: 27%;
        height: 78vh; } }
    @media (min-width: 1023px) {
      #genious-main img {
        margin: 6% 3%;
        height: 90vh; } }
    @media (min-width: 1280px) {
      #genious-main img {
        margin: 6% auto 0;
        height: 90vh; } }
    #genious-main img :nth-child(2n+1) {
      margin-right: 10px; }

#motivate-main {
  background-image: url("/img/motivatebg.png"); }
  #motivate-main img {
    height: 300px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      #motivate-main img {
        margin-top: 25%;
        height: 80vh; } }
    @media (min-width: 1023px) {
      #motivate-main img {
        margin: 6% auto 0;
        height: 90vh; } }

#main-image img.img-responsive {
  margin: 0 auto;
  height: auto; }
  @media (min-width: 768px) {
    #main-image img.img-responsive {
      height: 99vh; } }
  @media (min-width: 992px) {
    #main-image img.img-responsive {
      height: 99vh; } }
  @media (min-width: 1280px) {
    #main-image img.img-responsive {
      width: auto;
      height: 100vh; } }

#main-products {
  background-image: url("/img/body.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: relative; }
  #main-products #products h3 {
    color: #fff;
    margin: 0;
    font-weight: 700; }
    @media (min-width: 768px) {
      #main-products #products h3 {
        margin-top: 90px;
        font-size: 60px; } }
    @media (min-width: 992px) {
      #main-products #products h3 {
        margin-top: 80px;
        font-size: 50px; } }
    @media (min-width: 1023px) {
      #main-products #products h3 {
        margin-top: 50px; } }
    @media (min-width: 1280px) {
      #main-products #products h3 {
        margin-top: 40px; } }
  #main-products #products p {
    z-index: 0;
    position: absolute;
    font-family: "Covered By Your Grace", cursive;
    color: #fff; }
    @media (min-width: 768px) {
      #main-products #products p {
        font-size: 18px;
        bottom: 30%;
        left: 58%; } }
    @media (min-width: 800px) {
      #main-products #products p {
        font-size: 18px;
        bottom: 30%;
        left: 57.5%; } }
    @media (min-width: 900px) {
      #main-products #products p {
        font-size: 18px;
        bottom: 30%;
        left: 56.8%; } }
    @media (min-width: 1080px) {
      #main-products #products p {
        left: 55.7%; } }
    @media (min-width: 1199px) {
      #main-products #products p {
        left: 55.4%; } }
    @media (min-width: 1200px) {
      #main-products #products p {
        font-size: 20px;
        left: 56%; } }
    @media (min-width: 1280px) {
      #main-products #products p {
        font-size: 20px;
        left: 56%; } }
    @media (min-width: 1300px) {
      #main-products #products p {
        font-size: 20px;
        left: 56.4%; } }
    @media (min-width: 1400px) {
      #main-products #products p {
        font-size: 20px;
        left: 56%; } }
    #main-products #products p i {
      font-size: 14px; }
  #main-products #products #products-list {
    margin-top: 40px;
    z-index: 1; }
    @media (min-width: 768px) {
      #main-products #products #products-list {
        margin-top: 20px; } }
    @media (min-width: 992px) {
      #main-products #products #products-list {
        margin-top: 20px; } }
    @media (min-width: 1023px) {
      #main-products #products #products-list {
        margin-top: 20px; } }
    #main-products #products #products-list a img.img-responsive {
      height: 275px;
      width: 100px;
      margin: 0 auto;
      transition: all .4s; }
      @media (min-width: 768px) {
        #main-products #products #products-list a img.img-responsive {
          height: 60%;
          width: 71%; } }
      @media (min-width: 992px) {
        #main-products #products #products-list a img.img-responsive {
          height: 43%;
          width: 55%; }
          #main-products #products #products-list a img.img-responsive[src*="img/fresh.png"] {
            float: right; }
          #main-products #products #products-list a img.img-responsive[src*="img/motivate.png"] {
            float: left; } }
      @media (min-width: 1200px) {
        #main-products #products #products-list a img.img-responsive {
          height: 37%;
          width: 48%; } }
      @media (min-width: 1380px) {
        #main-products #products #products-list a img.img-responsive {
          height: 45%;
          width: 56%; } }
      @media (min-width: 1282px) {
        #main-products #products #products-list a img.img-responsive {
          height: 45%;
          width: 55%; } }
      @media (min-width: 1679px) {
        #main-products #products #products-list a img.img-responsive {
          height: 55%;
          width: 65%; } }
      #main-products #products #products-list a img.img-responsive:hover {
        transform: scale(1.1); }

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto; }

#mycarousel a.left.carousel-control {
  text-shadow: none;
  opacity: 1;
  transition: color .3s;
  position: fixed;
  margin: 60px 0 170px; }
  #mycarousel a.left.carousel-control:hover {
    color: #000; }

.left-arrow {
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 2%; }
  .left-arrow span i.fa {
    font-size: 36px;
    position: relative;
    top: 50%;
    left: 10%;
    text-shadow: none;
    opacity: 1; }
  .left-arrow:hover {
    color: #000; }
  .left-arrow:hover .text {
    opacity: 1;
    right: 90%; }

#mycarousel .control-right a.right.carousel-control {
  text-shadow: none;
  opacity: 1;
  transition: color .3s;
  margin: 110px 0;
  z-index: 1;
  position: fixed; }
  #mycarousel .control-right a.right.carousel-control .right-arrow {
    position: fixed;
    top: 50%;
    left: 96%;
    transition: color .3s; }
    #mycarousel .control-right a.right.carousel-control .right-arrow span i.fa {
      font-size: 36px; }
    #mycarousel .control-right a.right.carousel-control .right-arrow:hover {
      color: #000; }
  #mycarousel .control-right a.right.carousel-control:hover .text {
    opacity: 1;
    right: 60%; }

.carousel-inner #main a.right.carousel-control {
  text-shadow: none;
  opacity: 1;
  transition: color .3s;
  margin: 110px 0; }
  .carousel-inner #main a.right.carousel-control .right-arrow {
    position: fixed;
    top: 50%;
    left: 90%; }
    @media (min-width: 768px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 200px;
        left: 84%; } }
    @media (min-width: 992px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 300px;
        left: 81%; } }
    @media (min-width: 1023px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 400px;
        left: 78%; } }
    @media (min-width: 1280px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 500px;
        left: 77%; } }
    @media (min-width: 1330px) {
      .carousel-inner #main a.right.carousel-control .right-arrow {
        width: 500px;
        left: 79%; } }
    .carousel-inner #main a.right.carousel-control .right-arrow .text {
      font-family: "Covered By Your Grace", cursive;
      font-size: 30px;
      position: absolute;
      top: 0;
      right: 20%;
      opacity: 0;
      -webkit-transition-property: opacity, right;
      -o-transition-property: opacity, right;
      transition-property: opacity, right;
      -webkit-transition-delay: .3s;
      -o-transition-delay: .3s;
      transition-delay: .3s;
      -webkit-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s;
      -webkit-transition-timing-function: ease-in-out, ease-out;
      -o-transition-timing-function: ease-in-out, ease-out;
      transition-timing-function: ease-in-out, ease-out; }
    .carousel-inner #main a.right.carousel-control .right-arrow span i.fa {
      font-size: 36px; }
    .carousel-inner #main a.right.carousel-control .right-arrow:hover {
      color: #000; }
    .carousel-inner #main a.right.carousel-control .right-arrow:hover .text {
      opacity: 1;
      right: 60%; }

#fresh {
  background-color: #9EC432;
  height: 100%; }
  @media (min-width: 1023px) {
    #fresh div.col-md-3 {
      padding-left: 0; }
    #fresh .background-left img {
      max-height: 100vh;
      width: auto;
      display: block; } }

.card {
  position: relative; }
  @media (min-width: 992px) {
    .card {
      top: 10px;
      overflow: visible; } }
  .card .content {
    background: #FFF8D9;
    overflow: auto; }
    .card .content .card-link-contact {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #000; }
    .card .content .source {
      padding-right: 10px;
      font-size: 9px; }
    @media (min-width: 1023px) {
      .card .content {
        padding: 0 100px;
        height: 97vh;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 10px;
        left: 90px;
        overflow: auto; } }
    .card .content p {
      font-family: "Lato", sans-serif;
      font-weight: 500; }
      .card .content p.heading {
        font-size: 34px; }
      .card .content p.sub-heading {
        font-weight: 300; }
    .card .content .img-card {
      margin: 20px 0 0; }
      @media (min-width: 992px) {
        .card .content .img-card {
          height: 100px; } }
      @media (min-width: 1280px) {
        .card .content .img-card {
          height: 120px; } }
    .card .content .description {
      margin-bottom: 20px;
      padding: 0 40px; }
    .card .content .info {
      padding: 0 80px;
      margin-bottom: 30px; }
      .card .content .info h3 {
        margin: 0; }
      .card .content .info ul li {
        font-family: "Lato", sans-serif; }
  .card .content-about {
    height: 97vh;
    position: absolute;
    top: 10px;
    right: 5px;
    bottom: 10px;
    left: 10px;
    overflow: auto;
    overflow-x: hidden;
    background: #FFF8D9; }
    @media (min-width: 992px) {
      .card .content-about {
        top: 0; } }
    .card .content-about img {
      position: fixed;
      z-index: 999; }
      @media (min-width: 768px) {
        .card .content-about img {
          height: 35px;
          margin: 10px 0 0 25px; } }
      @media (min-width: 992px) {
        .card .content-about img {
          margin: 10px 0 0 25px; } }
      @media (min-width: 1023px) {
        .card .content-about img {
          height: 50px;
          margin: 10px 0 0 25px; } }
      @media (min-width: 1280px) {
        .card .content-about img {
          height: 60px;
          margin: 10px 0 0 25px; } }
    @media (min-width: 768px) {
      .card .content-about h3 {
        padding: 0 110px 0 140px; } }
    @media (min-width: 1023px) {
      .card .content-about h3 {
        padding: 0 190px 0; } }
    @media (min-width: 1280px) {
      .card .content-about h3 {
        padding: 0 230px 0; } }
    .card .content-about h3.first-heading {
      font-weight: 500; }
      @media (min-width: 768px) {
        .card .content-about h3.first-heading {
          margin: 50px 0 20px; } }
      @media (min-width: 992px) {
        .card .content-about h3.first-heading {
          margin: 50px 0 20px; } }
      @media (min-width: 1023px) {
        .card .content-about h3.first-heading {
          margin: 60px 0 0;
          font-size: 40px; } }
      @media (min-width: 1280px) {
        .card .content-about h3.first-heading {
          margin: 100px 0 0;
          font-size: 48px; } }
    .card .content-about p {
      font-family: "Lato", sans-serif; }
      @media (min-width: 768px) {
        .card .content-about p {
          font-size: 13px;
          padding: 0 40px 0 140px; } }
      @media (min-width: 992px) {
        .card .content-about p {
          padding: 0 70px 0 150px; } }
      @media (min-width: 1023px) {
        .card .content-about p {
          padding: 0 100px 0 190px;
          margin-top: 20px; } }
      @media (min-width: 1280px) {
        .card .content-about p {
          padding: 0 230px 0;
          margin-top: 20px; } }
    @media (min-width: 768px) {
      .card .content-about .social {
        padding: 0 140px; } }
    @media (min-width: 992px) {
      .card .content-about .social {
        padding: 0 150px; } }
    @media (min-width: 1023px) {
      .card .content-about .social {
        padding: 0 160px; } }
    @media (min-width: 1280px) {
      .card .content-about .social {
        padding: 0 230px; } }
    .card .content-about .social a {
      font-family: "Lato", sans-serif;
      font-size: 28px;
      color: #000; }
      @media (min-width: 1280px) {
        .card .content-about .social a:nth-child(2n) {
          padding-left: 10px; } }
    @media (min-width: 768px) {
      .card .content-about #contact-form {
        padding: 0 150px;
        overflow: hidden; }
        .card .content-about #contact-form .form-group {
          margin-top: 15px; }
          .card .content-about #contact-form .form-group .form-control {
            position: absolute;
            background-color: #FFF8D9;
            border: none;
            border-bottom: 1px solid #c7bca9;
            border-radius: 0;
            width: 57%;
            font-family: "Lato", sans-serif;
            box-shadow: none; }
            .card .content-about #contact-form .form-group .form-control + .control-label {
              position: relative;
              padding: 6px 11px;
              cursor: text;
              -webkit-transform-origin: left center;
              -ms-transform-origin: left center;
              transform-origin: left center;
              color: #C0BFBF;
              -webkit-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s; }
            .card .content-about #contact-form .form-group .form-control:focus + .control-label {
              color: #333;
              -webkit-transform: scale(0.8) translateY(-18px);
              -ms-transform: scale(0.8) translateY(-18px);
              transform: scale(0.8) translateY(-18px); }
        .card .content-about #contact-form .btn-send {
          background-color: #63c9ac;
          color: #fff;
          font-family: "Covered By Your Grace", cursive;
          font-size: 20px;
          width: 200px;
          transition: all .3s; }
          .card .content-about #contact-form .btn-send:hover {
            background-color: #63b9ac;
            box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.15); } }
    @media (min-width: 992px) {
      .card .content-about #contact-form {
        padding: 0 180px;
        overflow: hidden; }
        .card .content-about #contact-form .form-group .form-control {
          width: 57%; } }
    @media (min-width: 1023px) {
      .card .content-about #contact-form {
        padding: 0 210px;
        overflow: hidden; }
        .card .content-about #contact-form .form-group .form-control {
          width: 52%; } }
    @media (min-width: 1280px) {
      .card .content-about #contact-form {
        padding: 0 240px;
        overflow: hidden; }
        .card .content-about #contact-form .form-group .form-control {
          width: 45%; } }
  .card .footer {
    padding-left: 100px; }
    @media (min-width: 1023px) {
      .card .footer {
        padding: 0 240px; } }
    .card .footer h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 10px; }

#genious {
  background-color: #329bca;
  height: 100%; }
  @media (min-width: 992px) {
    #genious div.col-md-3 {
      padding-left: 0; }
    #genious .background-left img {
      max-height: 100vh;
      width: auto;
      display: block; } }

#motivate {
  background-color: #aa0000;
  height: 100%; }
  @media (min-width: 992px) {
    #motivate div.col-md-3 {
      padding-left: 0; }
    #motivate .background-left img {
      max-height: 100vh;
      width: auto;
      display: block; } }

#nosotros {
  background-image: url("/img/body.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%; }
