
  #logo{
    height: auto;
    // margin-top: 8px;
    margin-left: 4%;
    width: 120px;
    @include mq('md'){
      height: auto;
      margin-top: 2%;
      width: 190px;
    }
  }

  .icon-bar{
    background-color: #fff;
    margin-top: 13px;
    height: 13px;
    border-radius: 2px;
  }

  .img-about{
    @include mq('sm'){
      margin-top: 200px;
    }
    @include mq('md'){
      margin-top: 180px;
    }
    @include mq('lg'){
      margin-top: 200px;
    }
    @include mq('xl'){
      margin-top: 140px;
    }
    
  }

  ul.inside{
    //  list-style-image: url('/img/ok.png');
    list-style: none;
    padding-left: 20px;
    @include mq('xl'){
      padding-left: 40px;
    }
    li{
      position: relative;
      @media (min-width: 1920px){
        font-size: 18px;
      }
      &:before{
        position: absolute;
        display: block;
        content: '\2022';
        text-indent: -999999px;
        left: -18%;
        width: 14px;
        height: 20px;
        background-repeat: no-repeat;
        background-image: url('../img/ok.png');
        background-size: 14px 14px;
        background-position: 0 .3em;
        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {
          left: -10%;
        }
        /* Portrait and Landscape */
        @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px) 
        and (-webkit-min-device-pixel-ratio: 3) { 
          left: -10%;
        }
        @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px) 
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: landscape) { 
          left: -7%;
        }
        @include mq('sm'){
          left: -7%;
        }
        @include mq('lg'){
          left: -11%;
        }
        @include mq('xl'){
          left: -12%;
        }
        @media (min-width: 1920px){
          left: -7%;  
        }
      }
    }
  }

  ul.not{
    list-style: none;
    // list-style-image: url('/img/not.png');
    padding-left: 20px;
    @include mq('xl'){
      padding-left: 40px;
    }
    li{
      position: relative;
      @media (min-width: 1920px){
        font-size: 18px;
      }
      &:before{
        position: absolute;
        display: block;
        content: '\2022';
        text-indent: -999999px;
        left: -18%;
        width: 19px;
        height: 21px;
        background-repeat: no-repeat;
        background-image: url('../img/not.png');
        background-size: 14px 14px;
        background-position: 0 .3em;
        @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {
          left: -10%;
        }
        @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px) 
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: portrait) { 
          left: -14%;
        }
        @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px) 
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: landscape) { 
          left: -8%;
        }
        @include mq('sm'){
          left: -7%;
        }
        @include mq('lg'){
          left: -11%;
        }
        @include mq('xl'){
          left: -12%;
        }
        @media (min-width: 1920px){
          left: -7%;
        }
      }
    }
    
  }

  .funny-font{
    font-family: $funny-font;
    font-size: 28px;
    @media (min-width: 1920px){
      font-size: 36px;
    }
  }

  p.description{
    font-family: $main-font;
    font-size: 18px;    
    color: #fff;
    margin-top: 0;
    span{
      font-family: $funny-font;      
      font-weight: 500;
      @include mq('sm'){
        font-size: 21px;
      }
      @include mq('md'){
        font-size: 24px;
      }
      @include mq('lg'){
        font-size: 30px;
      }
      @media (min-width: 1920px){
        font-size: 36px;
       }
    }
    // @media(max-width: 1024px) and (max-height: 774px){
    //   margin-top: 62%;
    // }
    @include mq('sm'){
      margin-top: 0;
      padding: 0 60px 0 40px;
      font-size: 14px;
    }
    @include mq('md'){
      font-size: 14px;
      line-height: 25px;
      margin-top: 60%;
      padding-left: 0;
      padding-right: 75px;
      font-size: 16px;
    }
    @media (min-width: 993px){
      padding: 0 70px 0 15px;
    }
    
    @include mq('lg') {
      line-height: 30px;
      font-size: 16px;
      // margin-top: 40%; 
      // padding-right: 85px;
      margin-top: 58%; 
      padding: 0 60px 0 20px;
    }
    
    @include mq('xl'){      
      margin-top: 49%;
      //margin-top: 60%; 
      padding-right: 105px;
    }
    @media (min-width: 1920px){
      margin-top: 60%;
      font-size: 24px;
    }
  }
  p.description-fresh{
    font-family: $main-font;
    font-size: 18px;
    color: #fff;
    // margin: 10% 0 9% 0;
    span{
      font-family: $funny-font;
      font-size: 30px;
      font-weight: 500;
      @media (min-width: 1920px){
       font-size: 36px;
      }
    }
    @include mq('sm'){
      margin-top: 0;
      padding: 0 35px 0 30px;
      font-size: 16px;
    }
    
    @include mq('md'){
      margin-top: 70%;
      padding: 0 70px 0 70px;
      padding-left: 0;
    }
    @media (min-width: 993px){
      padding: 0 70px 0 15px;
    }
    @include mq('lg') {
      margin-top: 63%; 
      padding: 0 60px 0 20px;
      font-size: 18px;
      line-height: 35px;
    }
    @include mq('xl'){
      // margin: 0;
      // margin-top: 55%; 
      margin-top: 47%;
      padding-right: 120px;
    }
    @media (min-width: 1920px){
      margin-top: 60%;
      font-size: 24px;
    }
    
  }
  .panel{
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    padding: 0 40px;
    @include mq('md'){
      padding: 0;
    }

  }

