
//Variables
$main-green: #68BD45;
$main-font: "Montserrat", sans-serif; 
$secondary-font: 'Lato', sans-serif;
$funny-font: 'Covered By Your Grace', cursive;
// $test-font1: 'Indie Flower', cursive;
// $test-font2: 'Covered By Your Grace', cursive;
// $test-font3: 'Gloria Hallelujah', cursive;


// Breakpoints
$breakpoints: (
  'xs': 575px, 
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1023px,
);

