
.card{
    position: relative;
    // margin-top: -60px;
    margin: 420px 5px 0 5px;
    z-index: 500;
    //top: -70px;
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) { 
      margin-top: 490px;
    }
    @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
      margin-top: 590px;
    }
    @include mq('sm'){
      margin-top: 600px;
    }
    @include mq('md'){
      //position: absolute;
      top: 10px;
      // right: 10px;
      //bottom: 0;
      // margin: 0;
      overflow: visible;
      // z-index: 599;
      margin: 0;
    }
    .content{
      background: #FFF8D9;
      overflow: auto;
      padding: 15px;
      position: absolute;
      // margin-top: 490px;
      @include mq('sm'){
        padding: 35px;
      }
      
      @include mq('md'){
        height: 97vh;
        
        top: 0;
        right: 10px;
        bottom: 10px;
        left: 90px;
        overflow: auto;
        padding: 0 70px;
      }
      @include mq('xl'){
        padding: 0 100px;
        
      }
      .card-link-contact{
        font-family: $main-font;
        font-size: 12px;
        text-transform: uppercase;
        color: #000;
      }
      .source{
        padding-right: 10px; 
        font-size: 9px;
      }
      // padding-top: 10px;
      // padding-right: 20px;
      // padding-left: 20px;
      // h1{
      //   // font-family: $main-font;
      //   color: #68BD45;
      //   margin: 40px 0 10px;
      // }
      
      p{
        font-family: $secondary-font;
        font-weight: 500;
        &.heading{
          font-size: 34px;
          
        }
        &.sub-heading{
          font-weight: 300;
        }
      }
      .img-card{
        @include mq('md'){
          margin: 20px 0 0;
          height: 100px;
        }
        @include mq('xl'){
          height: 120px;
        }
      }
      .img-card-fresh{
        @include mq('md'){
          margin: 20px 0 0;
          height: 100px;
        }
        @include mq('lg'){
          height: 170px;
        }
      }
      .description{
        margin-bottom: 20px;
        
        @include mq('xl'){
          padding: 0 40px;
        }
      }
      .info{
        @include mq('xl'){
          padding: 0 80px;          
        }
        @include mq('xl'){
          padding: 0 80px;
          margin-bottom: 30px;
        }
        
        h3{
          margin: 0;
        }
        ul li{
          font-family: $secondary-font;
        }
      }

    }

    .footer{
      padding-left: 100px;
      @include mq('lg'){
        padding: 0 240px;
      }
      
      h4{
        font-family: $main-font;
        font-size: 10px;
      }
    }  
  }

  .card-2{
    position: relative;
    margin-top: 350px;
    z-index: 500;
    @include mq('sm'){
      margin-top: 0;
      top: 10px;
    }
    @include mq('md'){
      //position: absolute;
      top: 10px;
      // right: 10px;
      //bottom: 0;
      // margin: 0;
      overflow: visible;
      // z-index: 599;
      margin: 0;
    }
    .content-about{
      // padding: 0 40;
      top: 0;
      @include mq('sm'){
        
        height: 97vh;
        position: absolute;
        top: 10px;
        right: 5px;
        bottom: 10px;
        left: 10px;
        overflow: auto;
        overflow-x: hidden;
      }
      
    // position: absolute;
      background: #FFF8D9;
      // overflow: auto;
      // height: 92vh;
      // overflow-x: hidden;
      img{
        position: fixed;
        z-index: 999;
        @include mq('sm'){
          height: 35px;
          margin: 10px 0 0 25px;
        }
        @include mq('md'){          
          margin: 10px 0 0 25px;
        }
        @include mq('lg'){
          height: 50px;
          margin: 10px 0 0 25px;
        }
        @include mq('xl'){
          height: 60px;
          margin: 10px 0 0 25px;
        }        
      }
      
      h3{
        padding: 30px 40px 0 40px;
        @include mq('sm'){
          padding: 0 110px 0 140px;
        }
        // @include mq('md'){
        //   padding: 0 155px 0;
        // }
        @include mq('lg'){
          padding: 0 190px 0;
        }
        @include mq('xl'){
          padding: 0 230px 0;
        }
           
        &.first-heading{
          font-weight: 500;
          @include mq('sm'){
            margin: 50px 0 20px;
          }
          @include mq('md'){
            margin: 50px 0 20px;
          }
          @include mq('lg'){
            margin: 60px 0 0;
            font-size: 40px;
          }
          @include mq('xl'){
            margin: 100px 0 0;
            font-size: 48px;
            
          }
          
        }
      }
      // h3{
      //   padding-left: 200px;
      // }
      p{        
        font-size: 13px;
        padding: 0 40px 0 40px;
        font-family: $secondary-font;
        @include mq('sm'){
          font-size: 13px;
          padding: 0 40px 0 140px;
        }
        @include mq('md'){
          padding: 0 70px 0 150px;
        }
        @include mq('lg'){
          padding: 0 100px 0 190px;
          margin-top: 20px;
        }
        @include mq('xl'){
          padding: 0 75px 0 230px;
          margin-top: 20px;
          // padding: 0 220px;
          // padding-left: 200px;
          // padding-right: 180px;
        }
      }
      .face-button-card-2{
        @include mq('sm'){
          margin: 0 40px 0 80px;
        }
        @include mq('md'){
          margin: 0 70px 0 150px;
        }
        @include mq('lg'){
          margin: 0 100px 0 190px;
        }
        @include mq('xl'){
          margin: 0 0 0 190px;
        }
        @media (min-width: 1440px){
          margin: 0 0 0 230px;
        }
      }
      .social-contacto{
        a{
          font-family: $secondary-font;
          font-size: 22px;
          color: #000;
          @include mq('md'){
            font-size: 28px;
          }
          @include mq('xl'){
            // padding-left: 200px;
            &:nth-child(2n){
              padding-left: 10px;
            }     
          }           
        }
      }
      .social{
        @include mq('sm'){
          padding: 0 140px;
        }
        @include mq('md'){
          padding: 0 150px;
        } 
        @include mq('lg'){
          padding: 0 190px;
        }
        @include mq('xl'){
          padding: 0 230px;
        }
        a{
          font-family: $secondary-font;
          font-size: 28px;
          color: #000;
          @include mq('xl'){
            // padding-left: 200px;
            &:nth-child(2n){
              padding-left: 10px;
            }     
          }           
        }
      }      
      #contact-form{
        padding: 0 40px;
        .form-group{
          margin-top: 15px;
          .form-control{
            position: absolute;
            background-color: #FFF8D9;
            border: none;
            border-bottom: 1px solid #c7bca9;
            border-radius: 0;
            width: 75%;
            font-family: $secondary-font;
            box-shadow: none;
            & + .control-label {
              position: relative;
              padding: 6px 11px  ;
              cursor: text;                
              -webkit-transform-origin: left center;
              -ms-transform-origin: left center;
              transform-origin: left center;
              color: #C0BFBF;
              -webkit-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s;
            }
            &:focus + .control-label{
              color: #333;
              -webkit-transform: scale(0.8) translateY(-18px);
              -ms-transform: scale(0.8) translateY(-18px);
              transform: scale(0.8) translateY(-18px);
            }
            @include mq('md'){
              width: 57%;
            }
          }
        }
        .btn-send{
          background-color: #63c9ac;
          color: #fff;
          font-family: $funny-font;
          font-size: 20px;
          width: 200px;
          transition: all .3s;
          &:hover{
            background-color: #63b9ac;
            box-shadow: 0 2px 6px 3px rgba(0,0,0,0.15);
          }
        }
        @include mq('sm'){
          padding: 0 150px;
          overflow: hidden;

          
        }
        @include mq('md'){
          padding: 0 180px;
          overflow: hidden;
          .form-group{
            .form-control{
              width: 57%;
            }
          }
        }
        @include mq('lg'){
          padding: 0 210px;
          overflow: hidden;
          .form-group{
            .form-control{
              width: 52%;
            }
          }
        }
        @include mq('xl'){
          padding: 0 240px;
          overflow: hidden;
          .form-group{
            .form-control{
              width: 45%;
            }
          }
          
        }
      }
      .logos{
        img{
          margin: 0 auto 20px;
          width: 100px;
          &[src*="img/logos/oxxo.png"]{
            width: 50px;
          }
          @include mq('xl'){
            &[src*="img/logos/heb.png"]{
              width: 150px;
            }
            &[src*="img/logos/oxxo.png"]{
              width: 110px;
            }
          }
          @media(min-width:1920px){
            &[src*="img/logos/oxxo.png"]{
              width: 130px;
            }
          }
          
        }
        @include mq('sm'){
          padding: 0 50px 0 150px;
          
        }
        @include mq('md'){
          padding: 0 30px 0 200px;
          
        }
        @include mq('lg'){
          padding:  0 70px 0 200px;
          
        }
        @include mq('xl'){
          padding: 0 80px 0 240px;
          
        }
        
      }
    }
    .footer{
      padding-left: 100px;
      @include mq('lg'){
        padding: 0 240px;
      }
      
      h4{
        font-family: $main-font;
        font-size: 10px;
      }
    } 
  }