
.card{
    position: relative;
    //top: -70px;
    @include mq('md'){
      //position: absolute;
      top: 10px;
      // right: 10px;
      //bottom: 0;
      // margin: 0;
      overflow: visible;
      // z-index: 599;
    }
    .content{
      background: #FFF8D9;
      // padding-top: 10px;
      // padding-right: 20px;
      // padding-left: 20px;
      // h1{
      //   // font-family: $main-font;
      //   color: #68BD45;
      //   margin: 40px 0 10px;
      // }
      @include mq('lg'){
        padding: 0 100px;
        height: 97vh;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 10px;
        left: 90px;
        overflow: auto;
      }
      p{
        font-family: $secondary-font;
        font-weight: 500;
        &.heading{
          font-size: 34px;
          
        }
        &.sub-heading{
          font-weight: 300;
        }
      }
      .img-card{
        @include mq('md'){
          height: 100px;
        }
        @include mq('xl'){
          height: 120px;
        }
         
        margin: 20px 0 0;
      }
      .description{
        margin-bottom: 20px;
        padding: 0 40px;
      }
      .info{
        padding: 0 80px;
        margin-bottom: 30px;
        h3{
          margin: 0;
        }
        ul li{
          font-family: $secondary-font;
        }
      }

    }
    .content-about{
      // padding: 0 40;
      height: 97vh;
      position: absolute;
      top: 0;
      right: 5px;
      bottom: 10px;
      left: 10px;
      overflow: auto;
      overflow-x: hidden;
      
    // position: absolute;
      background: #FFF8D9;
      // overflow: auto;
      // height: 92vh;
      // overflow-x: hidden;
      img{
        height: 60px;
        margin: 10px 0 0 25px;
        position: fixed;
        z-index: 999;
        
      }
      h3{
        padding: 0 230px 0;
        @include mq('lg'){
          // padding-left: 200px;
        }      
        &.first-heading{
          margin: 100px 0 0;
          font-size: 48px;
          font-weight: 500;
        }
      }
      // h3{
      //   padding-left: 200px;
      // }
      p{
        padding: 0 230px 0;
        font-family: $secondary-font;
        @include mq('lg'){
          margin-top: 20px;
          // padding: 0 220px;
          // padding-left: 200px;
          // padding-right: 180px;
        }
      }
      .social{
        padding: 0 230px;
        a{
        @include mq('lg'){
          // padding-left: 200px;
          &:nth-child(2n){
            padding-left: 0;
          }     
        }   
        font-family: $secondary-font;
        font-size: 16px;
        color: #000;
      }
      }

    }
  }