
  #main{
    background-image: url('/img/body.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    //margin: 7px;
    // height: 100vh;
    //position: fixed;
    @include mq('md'){
      height: 100vh;
      padding-top: 10px;
      //margin: 5px;
    }
  }
  #main-image{
    img{
      // height: auto;
      // width: auto;
      margin: 0 auto;
      // position: absolute;
      // left: 0;
      @include mq('md'){
        width: auto;
        height: 98vh;
        //background-image: auto 100%;
      }
      @include mq('lg'){
        //left: 20%;
        // width: auto;
        // height: 100vh;
        //background-size: auto 100%;
      }
    }
  }

  #main-products{
    background-image: url('/img/body.png');
    
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //background-position: center center;
    // margin: 7px;
    // height: 100%;
    @include mq('md'){
      // height: 97vh;
      
    }
    // #footer{
    //   @include mq('lg'){
    //     background: url('/img/footer.png') repeat-x center bottom;
    //     height: 21vh;
    //     // position: absolute;
    //   }
      
    // }
    #products{
      
      h1{
        font-family: $main-font;
        color: #fff;
        margin: 0;
        font-weight: 700;
        @include mq('md'){
          margin-top: 20px;
        }
      }
      #products-list{
        margin-top: 40px;
        @include mq('md'){
          margin-top: 20px;
        }
        img{
          height: 275px;
          width: 100px;
          // margin: 10px auto;
          margin: 0 auto;
          transition: all .4s;
          @include mq('md'){            
            height: 375px;
            width: 150px;
          }
          &:hover{
            transform: scale(1.2);
          }
        }
      }
      
    }
  }

  #fresh{
    background-image: url('/img/hidrofresh.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include mq('md'){
      background-position: center center;
      height: 100vh;
      // padding-top: 10px;
    }
    height: 100%;
  }
  #genious{
    background-image: url('/img/geniousbg.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include mq('md'){
      background-position: center center;
      height: 100vh;
    }
    height: 100%;
  }
  #motivate{
    background-image: url('/img/motivatebg.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include mq('md'){
      background-position: center center;
      height: 100vh;
    }
    height: 100%;
  }

  #nosotros{
    background-image: url('/img/body.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include mq('md'){
      background-position: center center;
      height: 100vh;
      padding-top: 10px;
    }
    height: 100%;
  }

  // #footer{
  //   background: url('/img/footer.png') repeat-x  bottom;
  //   height: 214px;
  //   width: 746px;
  //   // width: 100vh;
  //   position: absolute;
  // }
  .side-image{
    img{
      height: 275px;
      width: 105px;
      margin: 0 auto;
      @include mq('md'){            
        height: 500px;
        width: 190px;
        margin: 60px auto;
      }
    }
  }
  .card{
    position: relative;
    //top: -70px;
    @include mq('md'){
      //position: absolute;
      top: 10px;
      // right: 10px;
      //bottom: 0;
      
      margin: 0;
      overflow: visible;
      z-index: 599;
    }
    .content{
      background: #fff;
      padding-top: 10px;
      padding-right: 20px;
      padding-left: 20px;
      h1{
        // font-family: $main-font;
        color: #68BD45;
        margin: 40px 0 10px;
      }
      p{
        font-family: $secondary-font;
        font-weight: 500;
      }
      @include mq('md'){
        padding: 0 100px;
        height: 95vh;
        position: absolute;
        top: 10px;
        right: 0;
        bottom: 10px;
        left: 0;
        overflow: auto;
      }
    }
    .content-about{
      position: absolute;
      background: #fff;
      overflow: auto;
      img{
        margin: 30px 0 0 69px;
        position: fixed;
      }
      h1{
        @include mq('lg'){
          padding-left: 200px;
        } 
        font-family: $main-font;
        &.first-heading{
          margin-top: 100px;
        }
      }
      p{
        font-family: $secondary-font;
        @include mq('lg'){
          margin-top: 40px;
          padding-left: 200px;
          padding-right: 180px;
        }
      }
      a{      
        @include mq('lg'){
          padding-left: 200px;
        }  
        
        font-family: $secondary-font;
        font-size: 16px;
        color: #000;
      }
    }
  }

  
