
  #main{
    background-image: url('../img/body.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    //margin: 7px;
    
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
    //position: fixed;
    @include mq('lg'){
      height: 100vh;
      // padding-top: 10px;
      //margin: 5px;
    }
  }
  #fresh-main, #genious-main, #motivate-main{
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    //margin: 7px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    // @include mq('md'){
    //   img{
    //     position: absolute;
    //     &:nth-child(2n){
    //       left: 140px;
    //     }
    //   }
    // }
    .logo-sm{
      height: 120px; 
      float: none;
      margin: 45% 0 4% 0;
      @include mq('md'){
        margin: 25% 0 4% 0;
      }
      @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
        height: 100px;
        margin: 65% 0 4% 0;
      }
      @media (min-width: 993px){
        margin: 30% 0 4% 0;
      }
    }
    .logo-sm-2{
      height: 150px; 
      float: none;
      
      @include mq('sm'){
        margin: 45% 0 4% 0;
      }
      @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
        margin: 65% 0 4% 0;
      }
      @include mq('md'){
        margin: 25% 0 4% 0;
      }
      @media (min-width: 993px){
        margin: 30% 0 4% 0;
      }
    }
    img{      
      &[src*="img/logoHN.png"]{
        // margin: 1% 0 0 2%;
        margin: 0;
        // height: 60px;
        // width: auto;
        // z-index: 99999;
      }
      

      @include mq('lg'){
        position: absolute;
        &:nth-child(2n){
          left: 30%;
          // height: 75vh;
          height: 500px;
          margin-top: 130px;
        }
      }
      // @media(max-width: 1024px) and (max-height: 774px){        
        
      // }
      @media (min-width: 993px){
        position: absolute;
         &:nth-child(2n){
          left: 33%;
          height: 450px;
          // margin-top: 150px;
          margin-top: 100px;
        }
      }
      @media (min-width: 1023px){
        position: absolute;
         &:nth-child(2n){
          left: 32%;
          height: 450px;
          // margin-top: 150px;
          margin-top: 130px;
        }
      }      
      @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: landscape) 
      and (-webkit-min-device-pixel-ratio: 1) {
        &:nth-child(2n){
          left: 31%;
          margin-top: 100px;
          // height: 80vh;
          height: 500px;
        }
      }
      @media(min-width: 1180px){
        position: absolute;
        &:nth-child(2n){
          left: 29%;
          margin-top: 140px;
          // height: 80vh;
          height: 450px;
          width: auto;
        }
      }
      @media(min-width: 1280px){
        position: absolute;
        &:nth-child(2n){
          left: 130px;
          margin-top: 65px;
          // height: 80vh;
          height: 500px;
          width: auto;
        }
      }
      @media(min-width: 1283px){
        position: absolute;
        &:nth-child(2n){
          left: 31%;
          margin-top: 95px;
          // height: 80vh;
          height: 500px;
          width: auto;
        }
      }
      @media(min-width: 1366px) and (max-height: 768px){
        &:nth-child(2n){
          left: 31%;
          margin-top: 140px;
          // height: 80vh;
          height: 500px;
          width: auto;
        }
      }
      // @media(min-width: 1380px){
      //   position: absolute;
      //   &:nth-child(2n){                    
      //     left: 32%;
      //     margin-top: 28%;
      //     // margin-top: calc(100vh/10%);          
      //     height: 580px;
      //     width: auto;
      //   }
      // }
      @media(min-width: 1920px){
        &:nth-child(2n){       
          left: 32%;
          margin-top: 28%;
          height: 680px;
        }
      }
    }
    @include mq('md'){      
      img.animated{
        // linear
        animation: leafs 7s ease-in-out infinite;
        @keyframes leafs{
          10% { transform: scale(1);}
          80% { transform: scale(1.1);}
          100% {transform: scale(1);}
        }
      }
    }
    
  }
  #fresh-main{
    background-image: url('../img/fresh-main-sm.jpg');
    @media (min-width: 1200px){
      background-image: url('../img/fresh-main-test.jpg');
    }
    @include mq('xl'){
      background-image: url('../img/fresh-main-test.jpg');
    }
    img{
      // height: 350px;
      height: 290px;
      margin: 7% 10% 0;
      width: auto;
      // @media only screen 
      // and (min-device-width: 320px) 
      // and (max-device-width: 568px)
      // and (-webkit-min-device-pixel-ratio: 2)
      // and (orientation: portrait) {
      //   height: 290px;
      // }
      @media (min-width: 400px){
        margin: 0 18% 0;
      }
      @media (min-width: 500px){
        margin: 0 20% 0;
      }
      @media (min-width: 620px){
        margin: 0 27% 0;
      }
      @media (min-width: 700px){
        margin: 0 30% 0;
      }
      // @media (min-width: 767px){
      //   margin: 0 25% 0;
      // }
      @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
        margin: 0 8%;
      }
      @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        // margin: 7% 23% 0;
      }
      @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) { 
        margin: 0 15% 0;
      }
      &[src*="img/logoHN.png"]{
        //margin: 1% 0 0 2%;
        padding: 0;
        height: 60px;
        width: auto;
        z-index: 99999;
      }
      
      @include mq('sm'){
        margin: 27% 0;
        height: 78vh;  
        width: auto;
        // height: auto; 
        // float: right;     
      }
      @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
        margin-top: 55%;
        height: 50vh;
      }
      @include mq('md'){
        // margin-top: 120px;
        margin-top: 60px;
        // height: 83vh;
        width: auto;
      }
      @include mq('lg'){
        // margin-top: 100px;
        // // wid
        // // height: 80vh;
        // height: auto;
        margin-top: 80px;
        // height: 90vh;
        height: 80vh;
        width: auto;
      }
      // @media(max-width: 1024px) and (max-height: 774px){
      //   margin-top: 120px;
      //   // wid
      //   height: auto;
      // }      
      @include mq('xl'){
        margin: 10% auto;
        // height: 90vh;
        height: auto;
      }
      @media(min-width: 1366px) and (max-height: 768px){
        margin: 20% auto;
      }
      // @media (min-width: 1380px){
      //   //  margin: 6% auto;
      //   margin: calc(.1*100vh) auto;
      //   height: auto;
      // }
     
     
      // @media (min-width: 992px){
      //   height: 90vh;
      // }
      // height: 300px;
      // width: auto;
      // margin: 0 auto;
    }
    
  }
  #genious-main{
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('../img/genious-main-sm.jpg');
    @media (min-width: 1200px){
      background-image: url('../img/genious-main-test.jpg');
    }
    @include mq('xl'){
      background-image: url('../img/genious-main-test.jpg');
    }
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // background-position: center center;
    // //margin: 7px;
    // height: 100%;
    img{
      // height: 350px;
      height: 290px;
      margin: 7% 10% 0;
      width: auto;
      @media (min-width: 400px){
        margin: 0 18% 0;
      }
      @media (min-width: 500px){
        margin: 0 20% 0;
      }
      @media (min-width: 620px){
        margin: 0 27% 0;
      }
      @media (min-width: 700px){
        margin: 0 30% 0;
      }
      // @media (min-width: 767px){
      //   margin: 0 25% 0;
      // }
      @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
        margin: 0 7%;
      }
      @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        // margin: 7% 23% 0;
      }
      @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) { 
        margin: 0 15% 0;
      }
      @include mq('sm'){
        margin: 27% 0 0;
        height: 78vh;   
        width: auto;
        //float: right;     
      }   
      @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
        margin-top: 55%;
        height: 50vh;
      }  
      @include mq('md')  {
        margin: 60px 0 0;
        height: auto;
        width: auto;
      }
      @include mq('lg'){
        margin: 80px 0 0;
        // height: 90vh;
        height: 80vh;
        width: auto;
      }
      @include mq('xl'){
        margin: 14% auto 0;
        // height: 90vh;
        height: auto;
      }
      @media(min-width: 1366px) and (max-height: 768px){
        margin: 20% auto;
      }
      // @media (min-width: 1380px){
      //   //  margin: 6% auto;
      //   margin: calc(.1*100vh) auto;
      //   height: auto;
      // }
      :nth-child(2n+1){
        margin-right: 10px;
      }
    }
  }
  #motivate-main{
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('../img/motivate-main-sm.jpg');
    @media (min-width: 1200px){
      background-image: url('../img/motivate-main-test.jpg');
    }
    @include mq('xl'){
      background-image: url('../img/motivate-main-test.jpg');
    }
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // background-position: center center;
    // //margin: 7px;
    // height: 100%;
    img{
      // height: 350px;
      height: 290px;
      margin: 7% 10% 0;
      width: auto;
      @media (min-width: 400px){
        margin: 0 18% 0;
      }
      @media (min-width: 500px){
        margin: 0 20% 0;
      }
      @media (min-width: 620px){
        margin: 0 27% 0;
      }
      @media (min-width: 700px){
        margin: 0 30% 0;
      }
      // @media (min-width: 767px){
      //   margin: 0 25% 0;
      // }
      @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
        margin: 0 8%;
      }
      @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        // margin: 7% 23% 0;
      }
      @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) { 
        margin: 0 15% 0;
      }
      @include mq('sm'){
        margin: 25% 0 0;
        height: 78vh;
        //float: right;     
      }    
      @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
        margin-top: 55%;
        height: 50vh;
      }
      @include mq('md')  {
        margin: 60px 0 0;
        height: auto;
      }   
      @include mq('lg'){
        margin: 80px 3%;
        // height: 90vh;
        height: 80vh;
      }
      @include mq('xl'){
        margin: 14% auto 0;
        // height: 90vh;
        height: auto;
      }
      @media(min-width: 1366px) and (max-height: 768px){
        margin: 20% auto;
      }
      // @media (min-width: 1380px){
      //   //  margin: 6% auto;
      //   margin: calc(.1*100vh) auto;
      //   height: auto;
      // }
    }
  }
  #main-image{
    // .test{
    //   position: relative;
    //   display: block;
    // }
    // .on{
    //   background-color: rgba(99, 201, 172, .5);
    //   opacity: 0;
    //   display: inline-block;
    //   position: fixed;
    //   // left: 50%;
    //   // top: 50%;
    //   // margin-top: -50px;
    //   // margin-left: -50px;
    //   // width: 100vh;
    //   // height: 100vh;
    //   margin: 0 auto;
    //   // z-index: 9999;
    //   color: #000;
    //   font-size: 50px;
    //   transition-property: opacity, left;
    //   transition-duration: .5s;
    //   transition-delay: .3s;
    //   transition-timing-function: ease-in-out, ease-out;
    // }
    // .test:hover .on{
    //   opacity: 1;
    //   // left: 50%;
    // }
    img.img-responsive{
      margin: 0 auto;
      height: auto;
      // height: auto;
      // width: auto;          
      // position: fixed;
      // .img-responsive:hover .on p{
      //   opacity: 1;
      // }
      // position: absolute;
      // left: 0;
      @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        height: 79vh;
      }
      @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) { 
        height: 60vh;
      }
      @include mq('sm'){
        height: 99vh;
        width: auto;
      }
      @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
        height: 85vh;
      }
      @include mq('md'){
        height: 99vh;
      }     
      @include mq('xl'){
        width: auto;
        // was 97vh, changed because of owl carousel
        height: 100vh;        
        //background-image: auto 100%;
      }
    }
  }

  #main-products{
    background-image: url('../img/body-sm.jpg');
    background-position: center center;
    @include mq('sm'){
      background-image: url('../img/body.png');
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      //background-position: center center;
      // margin: 7px;
      min-height: 100%;
      position: relative;
      // height: 97vh;
      // padding-top: 10px;
    }
    // #footer{
    //   @include mq('lg'){
    //     background: url('/img/footer.png') repeat-x center bottom;
    //     height: 21vh;
    //     // position: absolute;
    //   }
      
    // }
    #products{
      
      h3{
        color: #fff;
        margin: 0 0 0;
        font-weight: 700;
        font-size: 40px;
        @include mq('sm'){
          margin-top: 90px;
          font-size: 60px;
        }
        @include mq('md'){
          margin-top: 80px;
          font-size: 50px;
        }
        @include mq('lg'){
          margin-top: 50px;
        }
        @include mq('xl'){
          margin-top: 40px;
        }
      }
      p{
        // margin-left: 23%;
        z-index: 0;
        position: absolute;        
        font-family: $funny-font;
        color: #fff;
        @media (min-width: 768px){
          font-size: 18px;
          bottom: 30%;
          left: 58%;
        }
        @media (min-width: 800px){
          font-size: 18px;
          bottom: 30%;
          left: 57.5%;
        }
        @media (min-width: 900px){
          font-size: 18px;
          bottom: 30%;
          left: 56.8%;
        }
        @media (min-width: 1080px) {                    
          left: 55.7%;
        }
        @media (min-width: 1199px) { 
          left: 55.4%;
        }
        @media(min-width: 1200px){
          font-size: 20px;
          left: 56%;
        }
        @media(min-width: 1280px){
          font-size: 20px;
          left: 56%;
        }
        @media(min-width: 1300px){
          font-size: 20px;
          left: 56.4%;
        }
        @media(min-width: 1400px){
          font-size: 20px;
          left: 56%;
        }          
        i{
          font-size: 14px;
        }
        // @media (max-width: 993px) {
        //   font-size: 18px;
        //   bottom: 30%;
        //   left: 57.2%;
        // }
        // @media (max-width: 1380px) {
        //   left: 56.5%;
        // }
        // @media (max-width: 1279px) {
        //   left: 57.2%;
        // }
        // @media (max-width: 1199px) {
        //   font-size: 18px;
        //   left: 55.4%;
        // }
        // @media (max-width: 1160px) {
        //   font-size: 18px;
        //   left: 55.5%;
        // }
        // @media (min-width: 1440px) {
        //   bottom: 30%;
        //   left: 56.5%;
        // }
        &.en{
          @media (min-width: 768px){
            font-size: 18px;
            bottom: 30%;
            left: 58%;
          }
          @media (min-width: 800px){
            font-size: 18px;
            bottom: 30%;
            left: 58.4%;
          }
          @media (min-width: 900px){
            font-size: 18px;
            bottom: 30%;
            left: 57.2%;
          }
          @media (min-width: 1080px) {                    
            left: 56.5%;
          }
          @media (min-width: 1199px) { 
            left: 55.4%;
          }
          @media(min-width: 1200px){
            font-size: 20px;
            left: 57%;
          }
          @media(min-width: 1280px){
            font-size: 20px;
            left: 57.5%;
          }
          @media(min-width: 1300px){
            font-size: 20px;
            left: 56.8%;
          }
          @media(min-width: 1400px){
            font-size: 20px;
            left: 56.7%;
          }  
          @media(min-width: 1900px){
            font-size: 20px;
            left: 55.3%;
          }          
        }
      }
      #products-list{
        margin-top: 20px;
        z-index: 1;
        @include mq('sm'){
          margin-top: 20px;
        }
        @include mq('md'){
          margin-top: 20px;
        }
        @include mq('lg'){
          margin-top: 20px;
        }
        a img.img-responsive{
          // height: 275px;
          // width: 100px;
          // margin: 10px auto;
          margin: 0 auto 20px;
          transition: all .4s;
          height: 300px;
          @include mq('sm'){
            height: 60%;
            width: 71%;
            &:hover{
              transform: scale(1.1);
            }
          }
          @include mq('md'){
            height: 43%;
            width: 55%;
            &[src*="img/fresh.png"]{
              float: right;
            }
            &[src*="img/motivate.png"]{
              float: left;
            }
          }
          @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          // and (orientation: landscape) 
          // and (-webkit-min-device-pixel-ratio: 2) 
          {
            height: 50%;
          }
          @media (min-width:1200px){
            height: 37%;
            width: 48%;            
          }
          // @media (min-width:1280px){
          //   height: 37%;
          //   width: 48%;            
          // }
          // @media(min-width:1380px){            
          //   height: 45%;
          //   width: 56%;            
          // }
          @media (min-width: 1282px) {
            height: 45%;
            width: 55%;
          }
          @media (min-width: 1679px) {
            height: 55%;
            width: 65%;
          }
          
        }

      }
    }
  }

  #footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
  }

  #mycarousel a.left.carousel-control{
    text-shadow: none;
    opacity: 1;
    transition: color .3s;
    // width: 38%;
    position: fixed;
    @include mq('sm'){
      margin: 120px 0 170px;
    }
   
    &:hover{
      color: #000;
    }
  
    // &:hover .text{     
    //   opacity: 1;
    //   left: 53.4%;
    // }
  }
  .left-arrow{
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 2%; 
    color: #fff;
    transition: color .4s;
    // .text{
    //   font-family: $funny-font;
    //   font-size: 24px;
    //   position: absolute;
    //   top: 0;
    //   right: 10%;
    //   opacity: 0;
    //   transition-property: opacity, right;
    //   transition-delay: .3s;
    //   transition-duration: .5s;        
    //   transition-timing-function: ease-in-out, ease-out;
    // }
    span i.fa{
      font-size: 36px;
      position: relative;
      top: 50%;
      left: 10%;     
      text-shadow: none;
      opacity: 1;
    }

    
    &:hover{
      color: #000;
    }
    
    &:hover .text{     
      opacity: 1;
      right: 90%;
    }
  }
  #mycarousel .control-right a.right.carousel-control{
    text-shadow: none;
    opacity: 1;
    transition: color .3s;
    margin: 110px 0;
    // visibility: hidden; 
    z-index: 1;      
    position: fixed;
    // width: 500px;   
    .right-arrow{
      position: fixed;
         
      // -ms-transform: translateY(90%);
      // -webkit-transform: translateY(90%);
      // -moz-transform: translateY(90%);
      // -o-transform: translateY(90%);
      top: 50%;
      left: 91%;
      transition: color .3s;
      @include mq('sm'){
        left: 95%;
      }
      @include mq('lg'){
        left: 96%;
      }
      span i.fa{
        font-size: 36px;        
      }
      &:hover{
      color: #000;
    } 
      
    }
  &:hover .text{     
        opacity: 1;
        right: 60%;
      }
    
  }
  // .owl-nav{
  //   text-shadow: none;
  //   opacity: 1;
  //   transition: color .3s;
  //   margin: 110px 0;
  //   // visibility: hidden; 
  //   z-index: 1;      
  //   position: fixed;
  //   // width: 500px;   
  //   i.right-arrow{
  //     position: fixed;
         
  //     // -ms-transform: translateY(90%);
  //     // -webkit-transform: translateY(90%);
  //     // -moz-transform: translateY(90%);
  //     // -o-transform: translateY(90%);
  //     top: 50%;
  //     left: 91%;
  //     transition: color .3s;
  //     @include mq('sm'){
  //       left: 95%;
  //     }
  //     @include mq('lg'){
  //       left: 96%;
  //     }
  //     span i.fa{
  //       font-size: 36px;        
  //     }
  //     &:hover{
  //       color: #000;
  //     } 
      
  //   }
  // &:hover .text{     
  //       opacity: 1;
  //       right: 60%;
  //     }
    
  // }
  .carousel-inner #main a.right.carousel-control{    
    text-shadow: none;
    opacity: 1;
    transition: color .3s;
    margin: 110px 0;
    // z-index: 9999999;    
    .right-arrow{
      position: fixed;
      @include mq('sm'){
        width: 200px;
        left: 84%;
      }
      @include mq('md'){
        width: 300px;
        left: 81%;
      }
      @include mq('lg'){
        width: 400px;
        left: 78%;
      }
      @include mq('xl'){
        width: 500px;
        left: 77%;
      }
      // @media (min-width: 1917px){
      //   left: 84% !important;
      // }
      @media (min-width: 1330px){
        width: 600px;
        left: 76%;
      }
      @media (min-width: 1680px){
        left: 79%;
      }
      @media (min-width: 1920px){
        left: 81.5%;
      }
      // -ms-transform: translateY(90%);
      // -webkit-transform: translateY(90%);
      // -moz-transform: translateY(90%);
      // -o-transform: translateY(90%);
      top: 50%;
      left: 90%;      
      .text{
        font-family: $funny-font;
        font-size: 30px;
        position: absolute;
        top: 0;
        right: 20%;
        opacity: 0;
        
        -webkit-transition-property: opacity, right;
        -o-transition-property: opacity, right;
        transition-property: opacity, right;
        -webkit-transition-delay: .3s;
        -o-transition-delay: .3s;
        transition-delay: .3s;
        -webkit-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;        
        -webkit-transition-timing-function: ease-in-out, ease-out;        
        -o-transition-timing-function: ease-in-out, ease-out;        
        transition-timing-function: ease-in-out, ease-out;
        // transition-property: opacity, right;
        // transition-delay: .3s;
        // transition-duration: .5s;        
        // transition-timing-function: ease-in-out, ease-out;
        @include mq('xl'){
          font-size: 36px;
          
        }
      }
      span i.fa{
        font-size: 36px;
      }
      &:hover{
        color: #000;
      }
      &:hover .text{     
        opacity: 1;
        right: 60%;
      }
    }  
  } 

  #group.row.logos{
    .panel{
      img{
        margin: 0 auto 20px;
        @include mq('xl'){
          &[src*="img/logos/heb.png"]{
            width: 150px;
          }
          &[src*="img/logos/oxxo.png"]{
            width: 110px;
          }
        }
        @media(min-width:1920px){
          &[src*="img/logos/oxxo.png"]{
            width: 130px;
          }
        }
        
      }
      @include mq('sm'){
        padding: 0 50px 0 150px;
        
      }
      @include mq('md'){
        padding: 0 30px 0 200px;
        
      }
      @include mq('lg'){
        padding:  0 70px 0 200px;
        
      }
      @include mq('xl'){
        padding: 0 80px 0 240px;
        
      }
    }
    
    
  }

   
  
    
  // .side-image{
  //   img{
  //     height: 275px;
  //     width: 105px;
  //     margin: 0 auto;
  //     @include mq('md'){            
  //       height: 500px;
  //       width: 190px;
  //       margin: 60px auto;
  //     }
  //   }
  // }
.background-right{
  position: fixed;
  margin-bottom: 200px;
  margin-left: 30px;
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-left: 0;
  }
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    margin-left: 20px;
  }
}

  
