
  #main{
    background-image: url('/img/body.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    //margin: 7px;
    height: 100%;
    //position: fixed;
    @include mq('md'){
      // height: 100vh;
      padding-top: 10px;
      //margin: 5px;
    }
  }
  #main-image{
    img{
      // height: auto;
      // width: auto;
      margin: 0 auto;
      // position: absolute;
      // left: 0;
      @include mq('md'){
        width: auto;
        height: 97vh;
        //background-image: auto 100%;
      }
      @include mq('lg'){
        //left: 20%;
        // width: auto;
        // height: 100vh;
        //background-size: auto 100%;
      }
    }
  }

  #main-products{
    background-image: url('/img/body.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //background-position: center center;
    // margin: 7px;
    min-height: 100%;
    position: relative;
    @include mq('md'){
      // height: 97vh;
      padding-top: 10px;
    }
    // #footer{
    //   @include mq('lg'){
    //     background: url('/img/footer.png') repeat-x center bottom;
    //     height: 21vh;
    //     // position: absolute;
    //   }
      
    // }
    #products{
      h3{
        color: #fff;
        margin: 0;
        font-weight: 700;
        @include mq('md'){
          margin-top: 10px;
          font-size: 50px;
        }
      }
      #products-list{
        margin-top: 40px;
        @include mq('md'){
          margin-top: 20px;
        }
        img{
          height: 275px;
          width: 100px;
          // margin: 10px auto;
          margin: 0 auto;
          transition: all .4s;
          @include mq('lg'){            
            height: 35%;
            width: 47%;
          }
          @include mq('xl'){
            height: 45%;
            width: 65%;
          }
          &:hover{
            transform: scale(1.2);
            
          }
        }
      }
    }
  }

  #footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
  }
  // .side-image{
  //   img{
  //     height: 275px;
  //     width: 105px;
  //     margin: 0 auto;
  //     @include mq('md'){            
  //       height: 500px;
  //       width: 190px;
  //       margin: 60px auto;
  //     }
  //   }
  // }
  

  
