  
#fresh{
    // background-image: url('/img/HIDRO_FRESH FOTO 1.jpg');
    background-color: #9EC432;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    height: 100%;
    //
    @include mq('lg'){
      div.col-md-3{
        padding-left: 0;
      }
      // padding-top: 10px;
      .background-left img{
        // width: 91.2vh;
        max-height: 100vh;
        width: auto;
        display: block;
        // background-position: 50%;
      }
    }
    // height: 100%;
}