
#motivate{
  // background-image: url('/img/motivatebg.png');
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  background-color: #aa0000;
  height: 100%;
  @include mq('md'){
    
    div.col-md-3{
      padding-left: 0;
    }
    .background-left img{
      max-height: 100vh;
      width: auto;
      display: block;
    }
  }

}