

  .btn.btn-main{
    margin: 20px 0 10px;
    font-family: $main-font;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    color: $main-green;
    transition: all, .4s;
    padding: 10px 20px;
    &:hover{
       box-shadow: 0 4px 6px 0 rgba(0,0,0,0.22);

    }
  }