
  #nav ul li{
    position: fixed;
    z-index: 500;
    text-transform: uppercase;
    list-style: none;
    font-family: $main-font;
    font-weight: 700;
    text-decoration: none;

    a{
      color: #fff;
      transition: all .3s;
      // &:hover{
      //   text-decoration: none;
      //   border-bottom: 1px solid #000;
      // }
    }


    &.bottom-right{
      bottom: 50px;
      right: 50px;
      font-size: 24px;
    }
    &.bottom-left{
      bottom: 40px;
      left: 50px;
      font-size: 24px;
      a{
        color: #fff;
      }
      @include mq('sm'){
        left: 50px;
        bottom: 50px;
      }
      @include mq('xl'){
        bottom: 60px;
      }
      // @include mq('md'){
      //   left: 50px;
      //   bottom: 50px;
      // }
      // // @include mq('lg'){
      // //   bottom: 50px;
      // //   left: 50px;
      // // }
      // @include mq('xl'){
      //   left: 50px;
      //   // ESTE ES DE NOSOTROS PERO EN MENU
      //   // bottom: 200px;
      //   bottom: 50px;
      // }
    }
    &.bottom-left-rot{
      transform: rotate(-90deg);
      font-size: 18px;
      @include mq('sm'){
        bottom: 120px;
        left: 0;
      }
      @include mq('md'){
        bottom: 180px;
        left: 0;
      }
      @include mq('lg'){
        bottom: 110px;

        right: 92%;
      }
      @include mq('xl'){
        bottom: 120px;
        right: 92%;
      }
    }
    &.top-right{
      top: 30px;
      right: 70px;
      font-size: 30px;
      a{
        text-decoration: none;
        color: #000;
        &:first-child{
          font-weight: 400;
          font-size: 22px;
        }
      }
    }
    &.top-right-2{
      top: 70px;
      right: 72px;
      a{
        color: #000;
      }
    }
    &.top-left{
      top: 40px;
      left: 50px;
      font-size: 24px;
      img{
        top: 20px;
        @include mq('sm'){
          height: 40px;
          width: auto;
        }
        @include mq('md'){
          height: 50px;
          width: auto;
        }
        @include mq('lg'){
          height: 60px;
          width: auto;
        }

      }
    }
    &.arrow-left, &.arrow-right{
      a{
        //color: #c2c2c2;
        font-size: 30px;
        transition: color 1s ease;
      }
      // :hover{
      //   color: #aaaaaa;
      // }
    }
    &.arrow-left{
      top: 50%;
      left: 90%;
      @include mq('sm'){
        top: 50%;
        left: 95%;
      }
      @include mq('md'){
        top: 50%;
        left: 95%;
      }


    }
    &.arrow-right{
      top: 50%;
      left: 2%;
      @include mq('sm'){
        top: 50%;
        left: 2%;
      }
      @include mq('md'){
        top: 50%;
        left: 35%;
      }


    }
  }
  .navbar-custom{
    margin-bottom: 0;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    z-index: 501;
    //position: absolute;
    width: 100%;
    // background-color: #fff;
    button.navbar-toggle{
      margin-top: 3px;
    }
    .navbar-brand img{
      width: 120px;
    }
    .btn.btn-link.navbar-toggle.collapsed{
      .icon-bar{
        background-color: $main-green;
      }
    }
    .navbar-header{
      button{
        z-index: 10000;
      }
    }
  }
  #menu-hidronatura, #menu-hidronatura-2, #menu-hidronatura-3, #menu-hidronatura-4 ul.nav.navbar-nav{
    background-color: $main-green;
    li a{
      color: #fff;
      font-family: $funny-font;
      font-size: 20px;

    }
  }
  .navbar-offcanvas.navbar-offcanvas-right.offcanvas-transform.js-offcanvas-done.in{
    width: 70%;
    // background-color: #53A2BE;
    background-color: rgba(83, 162, 190, .9);
    // z-index: 199999999;
    ul.nav.navbar-nav{
      li a{
        color: #fff;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 700;
        padding: 15px 0 15px 15px;
        &.active{
          margin-top: 40px;
        }
        &:hover{
          background-color: #4992AB;
        }
        &.en-nav{
          font-size: 19px;
          color: #fff;
          font-family: $secondary-font;
          font-weight: 600;
          position: absolute;
          // left: 55%;
        }
      }
      .social-nav{
        margin-top: 35px;
        padding: 15px;
        font-size: 36px;
        a i{
          color: #fff;
        }
      }
    }
  }
  .affix{
    .navbar-header{
      a{
        //transition: opacity .4s;
        &.navbar-brand{
          opacity: 0;
        }
        &.en{
          opacity: 0;
        }
      }


    }
  }
  a.en{
    position: absolute;
    left: 72%;
    top: 20px;
    font-size: 20px;
    color: #fff;
    font-family: $secondary-font;
    font-weight: 600;
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      left: 83%;
    }
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      left: 83%;
    }
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      top: 19px;
      left: 76%;
    }
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      top: 18px;
      left: 87%;
    }
    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
      left: 88%;
      top: 17px;
    }
  }