
  #nav ul li{
    position: fixed;
    z-index: 900;
    text-transform: uppercase;
    list-style: none;
    font-family: $main-font;
    font-weight: 700;
    text-decoration: none;
   
    a{
      color: #fff;
      transition: all .3s;
      // &:hover{
      //   text-decoration: none;
      //   border-bottom: 1px solid #000;
      // }
    }
    

    &.bottom-right{
      bottom: 50px;
      right: 50px;
      font-size: 24px;
    }
    &.bottom-left{      
      bottom: 40px;
      left: 50px;
      font-size: 24px;
      a{
        color: #fff;
      }
      @include mq('sm'){
        left: 50px;
        bottom: 50px;
      }
      @include mq('xl'){
        bottom: 60px;
      }
      // @include mq('md'){
      //   left: 50px;
      //   bottom: 50px;
      // }
      // // @include mq('lg'){
      // //   bottom: 50px;
      // //   left: 50px;
      // // }
      // @include mq('xl'){
      //   left: 50px;
      //   // ESTE ES DE NOSOTROS PERO EN MENU
      //   // bottom: 200px;
      //   bottom: 50px;
      // }
    }
    &.bottom-left-rot{
      transform: rotate(-90deg);
      font-size: 18px;
      @include mq('sm'){
        bottom: 160px;
        left: 0; 
      }
      @include mq('md'){
        bottom: 180px;
        left: 0; 
      }
      @include mq('lg'){
        bottom: 175px;
        left: 0; 
        right: 95%; 
      }
      @include mq('xl'){
        bottom: 180px; 
        right: 95%; 
      }
    }
    &.top-right{
      top: 30px;
      right: 70px;
      font-size: 30px;
      a{
        text-decoration: none;
        color: #000;
        &:first-child{
          font-weight: 400;
          font-size: 22px;
        }
      }
    }
    &.top-right-2{
      top: 65px;
      right: 77px;
      a{
        color: #000;
      }
    }
    &.top-left{
      top: 40px;
      left: 50px;
      img{
        top: 20px;
        @include mq('sm'){
          height: 40px;
          width: auto;
        }
        @include mq('md'){
          height: 50px;
          width: auto;
        }
        @include mq('lg'){
          height: 60px;
          width: auto;
        } 
       
      }
    }
    &.arrow-left, &.arrow-right{ 
      a{
        color: #c2c2c2;
        font-size: 30px;
        transition: color 1s ease;
      }
      :hover{
        color: #aaaaaa;
      }
    } 
    &.arrow-left{
      
      top: 50%;
      left: 95%;
      
    }
    &.arrow-right{
      top: 50%;
      left: 35%;
      
    }
  }

  #menu-hidronatura ul.nav.navbar-nav{
    background-color: #fff;
  }