html, body{
  height: auto;
  min-height:100%;
  margin: 0;
  // padding: 0;
  // border: 0;
  // outline: 0;
  // vertical-align: baseline;
  //   background: transparent;
}

body{
  background-color: #fff;
  // height: 100%;
}